<style type="text/css">
    .lighter-weight{font-weight: lighter;}
    .ml{margin-left: 16px;}
    .pt20{padding-top: 20px;}
    .mess-zx{line-height: 36px;color: #847D7D;}
    .btn-hover{margin-left: 16px;color: #796A6A}
    .btn-hover:hover,a:hover{border-color: #f08300;/* color: #f08300!important; */}     
    .pt0{padding-top: 0!important;}   
    .form-validation .form-control.ng-dirty.ng-invalid{border-color: #f44336;}
    .err{color: #f44336;}
    .form-validation .form-control.ng-dirty.ng-valid,
    .form-validation .form-control.ng-dirty.ng-valid:focus {border-color: #4caf50;}   
    .left-info-err{position: absolute;top: 22px;left: 70px;}
    .left-info-input{margin:0 8px; width: 120px;display: inline;}
    .left-info{position: absolute;top: 0px;right: 50px;}
    .mask{position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 1050;overflow: hidden;-webkit-overflow-scrolling: touch;outline: 0;background: #000;opacity: 0.5;}
    .dialog{position: absolute;z-index: 1100;top: 115px;left: 22%;background-color: #fff;padding: 0;}
    .dialog-titlebar { padding: 0 10px 0 20px;height: 44px;background: #f5f5f5;}
    .dialog-title {float: left;font: 14px/44px "Microsoft YaHei";color: #f08300;}
    .close-btn{float: right;margin-top: 14px;}
    .clean-btn{margin: -9px 0px 0px 62px;}
    .border-slt{border: 1px solid #ddd;}
    .pr{position: relative;}
    .y-pad0{padding: 0!important; position: relative;}   
    .item .fa{position: absolute;top: 0;right: 0;background-color: green;color: #fff;font-size: 18px;}
    .hide{display: none;}
    .tab-pane{border: 1px solid #ddd;border-top: none;}
    .tab-content>.tab-pane {margin-top:-20px;}
</style>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <div platform-bread-nav="breadNavs"/>
        </ol>
    </div>
</div>
<div class="modal-body">
    <form class="form-horizontal form-validation" name="formInfo" novalidate>
        <tabset>
            <tab heading="基本信息" status="infoBase" active>
                <div class="pr" left-information>
                    <div class="form-group pt20 " beyond max-count='64'>
                        <label  class="col-sm-2 control-label lighter-weight">
                            <span class="err">*</span>
                            分类名称
                        </label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" ng-model="bean.name" autocomplete="off" ng-blur="setNetAddress()" name="name"   data-nsw-max-length="64" required>
                            <div ng-show="formInfo.title.$dirty && formInfo.title.$invalid">
                                <span class="err" ng-show="formInfo.title.$error.required" >请填写分类名称</span>
                                <span class="err" ng-show="!formInfo.title.$error.required && formInfo.title.$error">分类名称长度为0~64字符</span>
                            </div>
                        </div>
                        <span class="mess-zx">0</span>
                        /64字符
                        
                    </div>
                </div>               
                <span class="dropdown" style="left: 860px;bottom:90px;">
                        <a class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-question" style="padding: 0 4px;"></i>
                            帮助
                            <span class="caret"></span>
                        </a>
                        <ul  class="dropdown-menu">
                            <li>
                                <a ng-click="hasLink()">外部链接</a>
                            </li>
                        </ul>
                </span> 
                <div class="form-group">
                    <label class="col-sm-2 control-label lighter-weight">
                        <span class="err">*</span>
                        上级分类
                    </label>
                    <div class="col-sm-5">                        
                        <div class="form-control" style="border:none;width: 366px;padding:0;"> 
                            <nested-combo-box  control-disabled="false" collection="collectionBean" ng-model="classify.activeItemBean">
                            </nested-combo-box> 
                        </div>                        
                    </div>
                </div>
                <div class="form-group" ng-show="isLinkFlag">
                    <label  class="col-sm-2 control-label lighter-weight">网址</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" autocomplete="off" ng-model="bean.linkUrl"></div>
                </div>
                <div class="form-group" beyond max-count='100' ng-show="!isLinkFlag">
                    <label  class="col-sm-2 control-label lighter-weight">关联标签</label>
                    <div class="col-sm-5">
                        <pre class="form-control">{{bean.cmsTags|showCtgsName}}</pre>                      
                    </div>
                    <span class="mess-zx">0</span>
                    /100字符                   
                    <button type="button" class="btn btn-default clean-btn" data-module-id="{{moduleId}}" tag-lib result="bean.cmsTags" ng-model="bean.cmsTags">选择标签</button>
                </div>
                <div class="form-group" ng-show="isLinkFlag">
                    <label  class="col-sm-2 control-label lighter-weight">分类名称图标</label>
                <div class="col-sm-2">
                    <a href="javascript:void(0)">
                        <div class="border-slt text-center" img-lib ng-model="iconClassify">
                            <img style="height: 128px;width: 128px;" nsw-src="{{iconClassify[0].path}}" ng-show="iconClassify[0].path != undefined">
                            <i class="fa fa-cloud-upload fa-3x" style="margin-top: 20px;" ng-show="iconClassify[0].path == undefined"></i>
                            <h6 ng-show="iconClassify[0].path == undefined" style="margin-bottom: 20px;">点击上传</h6>
                        </div>
                    </a>
                </div>                 
            </div>
            <div ng-show="!isLinkFlag">
                <div class="form-group">
                    <label  class="col-sm-2 control-label lighter-weight">是否上传缩略图</label>
                    <div class="col-sm-8"> 
                        <label class="radio-inline">
                            <input type="radio" name="radioCheckedImg"  ng-click="hasNotThumbnail()" ng-checked="!imageExist">否
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radioCheckedImg"  ng-click="hasThumbnail()" ng-checked="imageExist">是
                        </label>  
                    </div>
                </div>              
              <div class="form-group" ng-show="isThumbnail">                        
                    <div class="col-md-offset-2 col-sm-2">
                        <a href="javascript:void(0)">
                            <div class="border-slt text-center" img-lib ng-model="img.thumbnail">  
                                <img id="thumbnail" style="height: 128px;width: 128px;" nsw-src="{{img.thumbnail[0].path}}" ng-show="img.thumbnail[0].path != undefined">
                                <i class="fa fa-cloud-upload fa-3x" style="margin-top: 20px;" ng-show="img.thumbnail[0].path == undefined"></i>  
                                <h6 ng-show="img.thumbnail[0].path == undefined" style="margin-bottom: 20px;">点击上传</h6>
                            </div>                              
                        </a>
                    </div>  
                    <div class="col-sm-8" style="margin-top:20px;">
                        <label  class="col-sm-2 control-label lighter-weight">alt标签</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" autocomplete="off" ng-model="bean.imgSm.alt">                                
                        </div>                               
                    </div>
                    <div class="col-sm-8" style="margin-top:20px;">
                        <label  class="col-sm-2 control-label lighter-weight">最大尺寸</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" autocomplete="off" disabled value="800*800">                                
                        </div>                               
                    </div>
                </div>




            </div>
            <div class="form-group" ng-show="!isLinkFlag">
                <label  class="col-sm-2 control-label lighter-weight">分类描述</label>
                <div class="col-sm-8" style="z-index: 1;">
                    <div ueditor ng-model="bean.desc" config="configDesc"></div>
                </div>
            </div>
            <div class="form-group" ng-show="isLinkFlag">
                <label  class="col-sm-2 control-label lighter-weight">选项</label>
                <div class="col-sm-8">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="bean.isRecommend">推荐</label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="bean.isDisplayTop">置顶</label>
                </div>
            </div>
            <div class="form-group" ng-show="!isLinkFlag">
                <label  class="col-sm-2 control-label lighter-weight">列表显示描述</label>
                <div class="col-sm-8">
                    <label class="radio-inline">
                        <input type="radio" name="radioCheckedDesc" value="true" ng-model="bean.isDisplayDesc" checked>显示</label>
                    <label class="radio-inline">
                        <input type="radio" name="radioCheckedDesc" value="false" ng-model="bean.isDisplayDesc">不显示</label>
                </div>
            </div>
            <div class="form-group" ng-show="isLinkFlag">
                <label  class="col-sm-2 control-label lighter-weight">显示当前分类</label>
                <div class="col-sm-8">
                    <label class="radio-inline">
                        <input type="radio" name="radioCheckedDesc" value="true" ng-model="bean.isDisplay" checked>显示</label>
                    <label class="radio-inline">
                        <input type="radio" name="radioCheckedDesc" value="false" ng-model="bean.isDisplay">隐藏</label>
                </div>
            </div>
            <div class="form-group" ng-show="isLinkFlag">
                <label  class="col-sm-2 control-label lighter-weight">发布时间</label>
                <div class="col-sm-5">
                    <pick-datetime class="form-control" ng-model="bean.publishTime"></pick-datetime>
                </div>
            </div>
            <div style="clear:both;"></div> 
        </tab>
        <tab heading="SEO搜索引擎设置" status="tplCheck" ng-show="infoSeo">
            <div class="form-group pt20" beyond max-count='20'>
                <label  class="col-sm-2 control-label lighter-weight">
                    <span class="err">*</span>
                    网页访问地址
                </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="bean.seo.staticPageName" autocomplete="off" ng-blur="verRepeat()" name="staticPageName" data-nsw-max-length="30" required>
                    <div ng-show="formInfo.staticPageName.$dirty && formInfo.staticPageName.$invalid">
                        <span class="err" ng-show="formInfo.staticPageName.$error.required">请填写静态页名称</span>
                        <span class="err" ng-show="!formInfo.staticPageName.$error.required && formInfo.staticPageName.$error">静态页名称长度为0~30字符</span>
                    </div>
                </div>
                <span class="mess-zx">0</span>
                /30字符
            </div>

            <div class="form-group" beyond max-count='64'>
                <label  class="col-sm-2 control-label lighter-weight pt0">
                    网页标题
                    <br>(Title)</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="bean.seo.title" autocomplete="off" name="aSeoTitle" data-nsw-max-length="64">
                    <div ng-show="formInfo.aSeoTitle.$dirty && formInfo.aSeoTitle.$invalid">
                        <span class="err" ng-show="formInfo.aSeoTitle.$error">网页标题长度为0~64字符</span>
                    </div>
                </div>
                <span class="mess-zx">0</span>
                /64字符
            </div>
            <div class="form-group" beyond max-count='100'>
                <label  class="col-sm-2 control-label lighter-weight pt0">
                    网页关键词
                    <br>(Keywords)</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="bean.seo.keyword" autocomplete="off" name="aSeoKeyword" data-nsw-max-length="100">
                    <div ng-show="formInfo.aSeoKeyword.$dirty && formInfo.aSeoKeyword.$invalid">
                        <span class="err" ng-show="formInfo.aSeoKeyword.$error">网页关键词长度为0~100字符</span>
                    </div>
                    <span class="err" ng-show="keyWordErr">关键字使用逗号、空格和分隔符，并不能超过5个关键字</span>
                </div>
                <span class="mess-zx">0</span>
                /100字符
            </div>
            <div class="form-group" beyond max-count='150'>
                <label  class="col-sm-2 control-label lighter-weight pt0">
                    网页描述
                    <br>(Description)</label>
                <div class="col-sm-8" style="z-index: 1;">
                   <!--  <div ueditor ng-model="bean.seo.desc" config="configSeoDesc"></div> -->
                   <textarea class="form-control" rows="3" ng-model="bean.seo.desc"  data-nsw-max-length="150" required></textarea>
                </div>
            </div>
            <div style="clear:both;"></div> 
        </tab>
        <tab heading="其他属性" status="infoOther" ng-show="infoOther">
            <div class="form-group adv-group" data-ng-repeat="ad in bean.data.ads" style="padding-top:20px;">
                <label class="col-sm-2 control-label lighter-weight padleft70" ng-bind="ad.blkTitle"></label>
                <div class="col-sm-10" tool-ad-item data-ng-model="ad" data-channel-id="bean.data.ctgId"  data-width="ad.blkWidth" data-height="ad.blkHeight"></div>
            </div>
         <div class="form-group pt20">   
                    <label  class="col-sm-2 control-label lighter-weight">栏目名称图标</label>                      
                    <div class="col-sm-2">
                        <a href="javascript:void(0)">
                            <div class="border-slt text-center" img-lib ng-model="img.lmicon">  
                                <img id="lmicon" style="height: 128px;width: 128px;" nsw-src="{{img.lmicon[0].path}}" ng-show="img.lmicon[0].path != undefined">
                                <i class="fa fa-cloud-upload fa-3x" style="margin-top: 20px;" ng-show="img.lmicon[0].path == undefined"></i>  
                                <h6 ng-show="img.lmicon[0].path == undefined" style="margin-bottom: 20px;">点击上传</h6>
                            </div>                              
                        </a>
                    </div>  
                    <div class="col-sm-8" style="margin-top:20px;">
                        <label  class="col-sm-2 control-label lighter-weight">alt标签</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" autocomplete="off" ng-model="bean.imgMd.alt">                                
                        </div>                               
                    </div>
                    <div class="col-sm-8" style="margin-top:20px;">
                        <label  class="col-sm-2 control-label lighter-weight">最大尺寸</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" autocomplete="off" disabled value="800*800">                                
                        </div>                               
                    </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label lighter-weight">选项</label>
                <div class="col-sm-8">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="bean.isRecommend">推荐</label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="bean.isDisplayTop">置顶</label>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label lighter-weight">显示当前资讯</label>
                <div class="col-sm-8">
                    <label class="radio-inline">
                        <input type="radio" name="radioChecked" value="true" ng-model="bean.isDisplay">显示</label>
                    <label class="radio-inline">
                        <input type="radio" name="radioChecked" value="false" ng-model="bean.isDisplay">隐藏</label>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label lighter-weight">发布时间</label>
                <div class="col-sm-5">
                    <pick-datetime class="form-control" ng-model="bean.publishTime"></pick-datetime>
                </div>
            </div>
            <div style="clear:both;"></div> 
        </tab>
        <tab heading="内页外观选择" status="faceCheck" ng-show="faceCheck">
            <div class="form-group pt20">
                <label  class="col-sm-2 control-label lighter-weight">列表模板</label>
                <div class="col-sm-8">
                    <ul class="c-list-col c-list-col4 c-tpl-list">
                        <li ng-repeat="row in tempList" ng-click="selectListImageOne(row)">
                            <a href="javascript:void(0)">
                                <div class="item y-pad0">
                                    <img class="img" nsw-src="{{row.imgSm}}"  title="{{row.name}}">
                                    <i class="fa fa-check" ng-show="listTempOk[row._id]"></i>
                                </div>
                                {{row.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group pt20">
                <label  class="col-sm-2 control-label lighter-weight">详情模板</label>
                <div class="col-sm-8">
                    <ul class="c-list-col c-list-col4 c-tpl-list">
                        <li ng-repeat="row in tempDetail" ng-click="selectDetailImageOne(row)">
                            <a href="javascript:void(0)">
                                <div class="item y-pad0">
                                    <img class="img" nsw-src="{{row.imgSm}}"  title="{{row.name}}">
                                    <i class="fa fa-check" ng-show="detailTempOk[row._id]"></i>
                                </div>
                                {{row.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="clear:both;"></div> 
        </tab>
    </tabset>
    <div class="form-group pt20">
        <div class="col-sm-10 text-center">
            <button type="submit" class="btn btn-warning btn-color" ng-disabled="formInfo.$pristine" ng-click="saveBean()"><label class="checkright"></label><span class="btntext">保&nbsp;存</span></button>
            <button class="btn btn-default btn-color btn-cancel" ng-click="clearFormBtn()"><label class="checkcancel"></label><span class="btntext black">重&nbsp;填</span></button>
        </div>
    </div>
</form>
</div>
