<style type="text/css">
    .y-pad0 {padding: 0 !important;position: relative;}
    .item .fa {position: absolute;top:0;right:0;background-color:green; color:#fff;font-size:18px;}
    .pr{position: relative;}
    .lighter-weight{font-weight: lighter;}
    .tab-pane{border: 1px solid #ddd;border-top: none;}
    .bt .err,.ssflpr .err,.xqnr .err,.wangzhi .err,.wyfwdz .err,.flmc .err,.fl2 .err{margin-left: 1px;margin-right: 5px;}
    .bt .mess-zx,.ssflpr .mess-zx,.xqnr .mess-zx,.wangzhi .mess-zx,.glbq .mess-zx,.wyfwdz .mess-zx,.wybt .mess-zx,.wygjz .mess-zx,.zzwz .mess-zx,.flmc .mess-zx{margin-top:-4px;display:inline-block;}
    .glbq .control-label,.scslt .control-label,.zxdd1 .control-label,.xx1 .control-label,.xslm .control-label,.lrsj1 .control-label,.wybt .control-label,.wygjz .control-label,
    .wyms .control-label,.flsltsc .control-label,.xslm3 .control-label,.fltbmc .control-label{padding-left:52px;}
    .glbq .btn,.zzwz .btn{margin-top:-3px;margin-left:10px;}
    .dropdown-menu{min-width:80px;}
    .dropdown{position: absolute;left:92%;top:3%; cursor:pointer;}
    .left-info{position: absolute;top:-4px;right:25px;}
    .mess-zx{line-height: 36px;color: #847D7D;} 
    .btn-hover{margin-left: 16px;color: #796A6A}
    .btn-hover:hover{border-color: #f08300;}  
    .pt0{padding-top: 0!important;} 
    .form-validation .form-control.ng-dirty.ng-invalid{border-color: #f44336;}
    .err{color: #f44336;}
    .form-validation .form-control.ng-dirty.ng-valid,
    .form-validation .form-control.ng-dirty.ng-valid:focus {border-color: #4caf50;}   
    .left-info-err{position:absolute;top:30px;left:55px;}
    .left-info-input{margin:0 8px; width: 120px;display: inline;}
    .dbt{position:relative;}
    .dbt .left-info{position: absolute;top:-42px;right:50px;display:none;margin-top:8px;}
    .active .bt .form-group{margin-bottom:0px;}
    .wyfwdz,.zxdd2,.wybt,.wygjz,.wyms,.zzwz,.sjcs,.xx2,.xslm2,.lrsj2,.ssflpr,.wangzhi,.glbq,
    .scslt,.thumb,.xqnr,.zxdd1,.xx1,.xslm,.lrsj1,.flmc,.fl2,.flsltsc,.xslm3,.fltbmc,.lmmctpsc,.xqmb{margin-bottom:32px;}
    .glbq,.zzwz,.wyfwdz,.wybt,.wygjz,.bt,.flmc {height:29px;}
    .ssflpr,.bt{clear:both;}
    .ssflpr{margin-top:32px;}
   .dbt .no-radus-btn{position:absolute;left:63%;top:-29px;float:left;}
    .thumb .col-sm-8{margin:10px auto;}
    .thumb .border-slt,.lmmctpsc .border-slt,.fltbmc .border-slt{width:130px;height:102px;border:1px solid #dcdcdc;}
  	.flsltsc .border-slt{margin-bottom:32px;margin: 0 auto;vertical-align: middle;}
    .flsltsc .border-slt img{vertical-align: middle;max-height: 95px;max-width: 100px;border: 1px solid #dcdcdc;padding: 1px;}
    .blankrow{height:32px;}
    .twobtn{height:40px;}
    .twobtntop{position:relative;top:-60px;left:16.6%;}
</style>
<div class="row">
    <div class="col-md-12">
        <div platform-bread-nav="breadNavs"/>
    </div>
</div>
<div class="modal-body">
    <form class="form-horizontal form-validation formInfo" name="formInfo" novalidate>
        <tabset>
	        <tab heading="基本信息" status="infoBase" active  style="position:relative;">
	           
	        </tab>
	        <tab heading="SEO搜索引擎设置" status="infoSeo" ng-show="infoSeo">
	            
	        </tab>
	        <tab heading="其他属性" status="infoOther" ng-show="infoOther"> 
	           
	        </tab>
	        <tab heading="内页外观选择" status="tplCheck" ng-show="faceCheck">
	            
	        </tab>
        </tabset>
	    <div class="form-group">
	        <div class="col-sm-10 text-left twobtntop">
	            <button type="submit" class="btn btn-warning btn-color" ng-disabled="!((formInfo.name.$valid&&isLinkFlag)||formInfo.$valid)" ng-click="saveBean()"><label class="checkright"></label><span class="btntext">保&nbsp;存</span></button>
	            <button class="btn btn-default btn-color btn-cancel" ng-click="clearFormBtn()"><label class="checkcancel"></label><span class="btntext black">重&nbsp;填</span></button>
	        </div>
	    </div>
    </form>
</div>
