<div class="modal-header">
	<h4 class="modal-title">快速添加分类</h4>
	<a class="diaremove" ng-click="$close()"></a>
</div>

<div class="modal-body">
    <form class="form-horizontal form-validation form-airticle" name="formAddCategory" novalidate>
        <div class="form-group" beyond max-count='64'>
             <label  class="col-sm-3 control-label lighter-weight pt0" style="padding-left:90px;margin-top:5px;">
                 <span class="err">*</span>
                                                                         分类名称
             </label>
             <div class="col-sm-6">
                 <input class="form-control" ng-model="cTitle" name="cTitle"  ng-maxlength="64" required>
                 <div ng-show="formAddCategory.cTitle.$dirty && formAddCategory.cTitle.$invalid">
                     <span class="err" ng-show="formAddCategory.cTitle.$error.required">请填写分类名称</span>
                     <span class="err" ng-show="!formAddCategory.cTitle.$error.required && formAddCategory.cTitle.$error">分类名称长度为0~64字符</span>
                 </div>                             
             </div>
              <span class="mess-zx">0</span>/64字符
         </div>                    
         <div class="form-group">
             <label  class="col-sm-3 control-label lighter-weight pt0" style="padding-left:90px;margin-top:5px;">
                 <span class="err">*</span>
                                                                         上级分类
             </label>
             <div class="col-sm-6">                           
                 <nested-combo-box  control-disabled="false"  collection="ksCollectionBean" ng-model="classify.ksActiveItemBean">
                 </nested-combo-box>                            
             </div>
              <span class="mess-zx">分类可分多级</span>                        
         </div> 

         <div class="form-group">                        
            <label class="col-sm-offset-3">                          
                <span class="glyphicon glyphicon-exclamation-sign" style="color:#eea236;font-size:14px;padding-left:14px;display:inline-block;"></span>                        
            </label> 
              <span class="mess-zx">设置更多分类信息，请到分类列表进行详细设置，如SEO、内页排版</span>                        
        </div>                                      
    </form>
</div>

<div class="form-group" style="padding-left: 200px;padding-top: 45px;padding-bottom: 20px;">
    <button type="submit" class="btn btn-warning btn-color" ng-click="saveAddCategory()" ng-disabled="formAddCategory.$invalid"><label class="checkright"></label><span class="btntext">保&nbsp;存</span></button>
    <button class="btn btn-default btn-color btn-cancel" ng-click="cancel()"><label class="checkcancel"></label><span class="btntext black">取&nbsp;消</span></button>
</div>

