<style type="text/css">	
	.lighter-weight{font-weight: lighter;}	
	.mask{position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 10;overflow: hidden;-webkit-overflow-scrolling: touch;outline: 0;background: #000;opacity: 0.5;}
	.data-speed-form{position: absolute;z-index: 100;top: 115px;left: 22%;background-color: #fff;padding: 0;}
	.dialog-titlebar { padding: 0 10px 0 20px;height: 44px;background: #f5f5f5;}
	.dialog-title {float: left;font: 14px/44px "Microsoft YaHei";color: #f08300;}
	.close-btn{float: right;margin-top: 14px;}
	.form-validation .form-control.ng-dirty.ng-invalid {border-color: #f44336;}
    .form-validation .form-control.ng-dirty.ng-valid,.form-validation .form-control.ng-dirty.ng-valid:focus {border-color: #4caf50;}
    .err{color: #f44336;}
    .pt0{padding-top: 0!important;}    
    .more-search{border: 1px solid #ddd;width: 949px; margin-top: 4px;}
    .lighter-weight{font-weight: lighter;}
    .fr{float: right;}
    .margin-lr{margin: 0 16px;}
    .editbtn {display:none;cursor:pointer; }
    tr:hover .editbtn {display: inline-block;}
    .modal-body .btn-hover{display: none;}
    .modal-body .left-info{
        display: block;
        line-height: 32px;
        margin-bottom: 10px;
        padding-left: 62px;
        width: 667px;
    }
    .modal-body .left-info *{
        display: block;
        float: left;
    }
    .modal-body .left-info input{
        margin-left: 20px;
        margin-right: 10px;
        width: 345px;
    }
    .modal-body .left-info-err{
        display: block;
        margin-left: 88px;
        margin-top: -16px;
    }
    .form-horizontal .control-label{
        text-align:left;
        padding-left:42px;
     }
    .imgbox {
        display: table-cell;
        width: 40px;
        height: 40px;
        vertical-align: middle;
    }
  .textbox{
      display: table-cell;
      width: 165px;
      vertical-align: middle;
  }
  .advance{
	  position:relative;
	  left:3px;
	  top:1px;
  }
</style>
<div class="row">
  	<div class="col-xs-12">
        <div platform-bread-nav="breadNavs"/>
  	</div>
</div>
<form name="formList">
<div class="row" beyond data-max-count="64">
    <div class="col-xs-5">
	    <div class="input-group">
	        <input type="text" class="form-control" autocomplete="off" ng-model="queryParams.title" data-nsw-enter="searchInfoArticle()" placeholder="请输入关键字查询" maxlength="64">
	        <span class="input-group-btn">
	            <button type="button" class="btn btn-default padbottom5" ng-click="searchInfoArticle()"><span class="search"></span></button>
				<button type="button" class="btn btn-default advance" ng-click="advancedBtn()">高级</button>
	        </span>
	    </div>
    </div>
    <div class="col-xs-7 text-right">
		<a href="javascript:void(0);" class="btn btn-default no-radus-btn btnh26 borderorange" ng-click="goAdd()" ><span class="newadd"></span>新建</a>
    	<button type="button" class="btn btn-default no-radus-btn  btnh26" ng-click="deleteBatch()"><span class="trash"></span>删除</button>
    	<button type="button" class="btn btn-default no-radus-btn btnh26" ng-click="classification()">转移</button>
    	<!-- <button type="button" class="btn btn-default no-radus-btn btnh26" ng-click="reloadInfoArticle()">刷新</button> -->
    	<button type="button" class="btn btn-default no-radus-btn btnh26" ng-click="check(dataList)"> 全选</button>
    	<button type="button" class="btn btn-default no-radus-btn btnh26" ng-click="fanCheck(dataList)"> 反选</button>
    </div>
</div>
</form>
<div class="panel-body more-search" ng-show="advancedSearch">
    <form class="form-inline" name="formAdvance" beyond max-count = "64">
        <!-- <div class="form-group">
            <label class="lighter-weight">标题名称</label>
            <input type="text" ng-model="advanced.title" class="enterinput form-control" maxlength="64">
        </div>&nbsp;&nbsp;&nbsp;&nbsp; -->
        <div class="form-group">
            <label class="lighter-weight">所属分类</label>            
            <div class="form-control" style="border:none;width:200px; padding:0px;">                
                <nested-combo-box  control-disabled="false" change-event="itemChanged()" collection="collectionAdvanced" ng-model="activeItemAdvanced" ></nested-combo-box>
            </div>               
        </div>&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="advanced.isRecommend">推荐</label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="advanced.isDisplayTop">置顶</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="radio-inline">
                <input type="radio" name="radioChecked" value="true" ng-model="advanced.isDisplay">显示</label>
            <label class="radio-inline">
                <input type="radio" name="radioChecked" value="false" ng-model="advanced.isDisplay">隐藏</label>
            <label class="radio-inline">
                <input type="radio" name="radioChecked" value="" ng-model="advanced.isDisplay">不限</label>
        </div>
        <button type="submit" class="btn btn-default fr no-radus-btn btnh26" ng-click="advancedSearchList()"><span class="advancesearch"></span> 搜索</button>
    </form>
</div>
<div class="row c-row">
    <div class="col-xs-12">
    	<table class="table table-hover">
    		<thead>
		        <tr>
		        	<th><input type="checkbox" ng-model="isCheckAll" ng-click="checkAll()"/></th>
		            <th>标题名称</th>
		            <th>所属分类</th>
                    <th>推荐</th>
                    <th>置顶</th>
		            <th>显示</th>
		            <th>发布时间</th>
		            <th>操作</th>
		        </tr>
		    </thead>
		    <tbody>
		    	<tr ng-repeat="item in dataList">
		        	<td><input type="checkbox" ng-model="item.isChecked" ng-click="checkItem(item)"/></td>
		    		<td ><div  ng-if="item.imgSm.url" class="imgbox"><img  nsw-src="{{item.imgSm.url}}" width="40px" height="40px" /></div><div class="textbox">{{item.title}} <a class="editbtn" title="快速编辑" ng-click="editInfo(item)"><i class="fa fa-edit"></i></a></div> </td>
		    		<td>{{item.ctgs[0].name}}</td>
		    		<td><i class="fa fa-circle-o" ng-class="{true: 'fa-circle text-success', false: 'fa-circle-o'}[item.isRecommend]" ng-click="recommend(item)"></i></td>
                    <td><i class="fa fa-circle-o" ng-class="{true: 'fa-circle text-success', false: 'fa-circle-o'}[item.isDisplayTop]" ng-click="displayTop(item)"></i></td>
		    		<td><i class="fa fa-circle-o" ng-class="{true: 'fa-circle text-success', false: 'fa-circle-o'}[item.isDisplay]" ng-click="display(item)"></i></td>
		    		<td>{{item.publishTime}}</td>
					<td>
						<div class="btn-group">
							<button type="button" class="btn btn-default btn-sm" ng-click="goEdit(item)">
								<span class="fa-edt"></span><span class="fa-edt-text">修改</span>
							</button>
							<button type="button" class="btn btn-default btn-sm" ng-click="preview(item._id,item.isLink,item.linkUrl,item.ctgs[0])">
                                <span class="fa-preview"></span><span class="fa-preview-text">预览</span>
							</button>
							<button type="button" class="btn btn-default btn-sm" ng-click="delInfoArticle(item._id)">
							    <span class="fa-delete"></span><span class="fa-delete-text">删除</span>
							</button>
						</div>
					</td>
				</tr>
		    </tbody>
            <!--分页条-->
            <tfoot class="hide-if-no-paging">
                <tr class="c-channel-tfoot">
                  <td colspan="8" class="text-center" style="width:100%;">
                      <uib-pagination total-items="totalItems" ng-model="currentPage" items-Per-Page="pageSize" max-size="maxSize"  class="pagination-sm m-t-none m-b" boundary-links="true" rotate="false"  ng-change="pageChanged()" previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页"></uib-pagination>
                  </td>
                </tr>
            </tfoot> 
            <!--分页条end-->        
		</table>    
	</div>
</div>
<!--转移表单-->
<div class="col-sm-6 data-speed-form" ng-show="classifiForm">
	<div class="dialog-titlebar">
		<span class="dialog-title">转移分类</span>	
		<a class="close-btn diaremove" ng-click="closeClassifiForm()"></a>		
	</div>
	<form class="form-horizontal form-validation" name="formSpeed" style="margin-left: 0; margin-right: 0; max-height: 500px; overflow-x:hidden;overflow-y:scroll;" novalidate>
		<div class="col-xs-10 col-xs-push-1 form-group" style="padding-top: 20px;">
	        <label style="line-height: 30px;">已经选择的资讯文章清单如下，请确认：</label>
	    	<table class="table table-hover">
		    	<tr ng-repeat="row in newDataList">
		        	<td style="width:5%"><input type="checkbox" ng-model="row.isChecked"/></td>
		    		<td>{{row.title}}</td>
		    	</tr>
			</table>    
	    </div>
	    <div class="col-xs-10 col-xs-push-1 form-group">
	        <div style="line-height: 30px;"><label>把资讯文章转移至：</label></div>
	        <div>
               <nested-combo-box  control-disabled="false" collection="collectionTransfer" ng-model="activeItemTransfer">
               </nested-combo-box> 
            </div>
	    </div>
        <div class="form-group text-center">
	        <div class="col-sm-10">
	            <button type="submit" class="btn btn-warning" ng-click="transfer()">转移</button>
	            <button class="btn btn-default" ng-click="closeTrans()">关闭</button>
	        </div>
	    </div>
    </form>
</div>
