.full-container{
	width: 100%;
	height: 99%;
	margin: 0;
	padding: 0;
}
.container.c-container.template-container{
	width:100%;
	margin: 0;
}

.template-edit-tool{
	border-bottom: solid 1px #d0d0d0;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	padding: 5px;
	overflow: hidden;
	zoom: 1;
	width:100%;
	height: auto;
	position: relative;
	box-shadow: 0 1px 4px rgba(204, 204, 204, 0.6);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.phone-box {
	overflow-x: hidden;
	border: none;
	display: block;
	height: 664px;
	margin: -10px auto 0px;
	width: 368px;
	overflow: hidden;
	transform: scale(0.9);
	background: url(../image/phone-box.png) no-repeat;
}
.phone-box iframe{
	margin: 93px 24px 91px 24px;
	height: 480px;
	width: 320px;
	background-color: white;
}

.phone-box iframe::-webkit-scrollbar{
	width: 2px;
	height: 6px;
}
.phone-box iframe::-webkit-scrollbar-thumb  {
	background: #f07802;
	border-radius:4px;
}

.phone-box-rotated {
	overflow-x: hidden;
	border: none;
	border-radius: 10px 10px;
	display: block;
	height: 385px;
	margin: 0px auto 0px;
	padding: 5px 25px 5px  25px;
	width: 653px;
	background-color: rgb(208, 208, 208);
	overflow: hidden;
}
.phone-box-rotated iframe{
	height: 375px;
	width: 603px;
}

.pad-box {
	overflow-x: hidden;
	border: none;
	border-radius: 10px 10px;
	display: block;
	margin: 0px auto 0px;
	padding: 25px 5px 25px 5px;
	width: 778px;
	height: 1074px;
	background-color: rgb(208, 208, 208);
	overflow: hidden;
}

.pad-box-rotated iframe{
	width: 768px;
	height: 1024px;
}

.pad-box-rotated {
	overflow-x: hidden;
	border: none;
	border-radius: 10px 10px;
	display: block;
	margin: 0px auto 0px;
	padding: 5px 25px 5px  25px;
	width: 1074px;
	height: 778px;
	background-color: rgb(208, 208, 208);
	overflow: hidden;
}

.pad-box-rotated iframe{
	width: 1024px;
	height: 768px;
}

.pc-box {
	overflow-x: hidden;
	border: none;
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgb(208, 208, 208);
	overflow: hidden;
	border: 0;
}

.pc-box iframe{
	background-color: #FFF;
	width: 100%;
	height: 100%;
}

.toolbar{
	position: absolute;
}

.c-allthumbImage {
	max-width: 100px;
	max-height: 120px;
}

.qr-code{
	position: absolute;
	top: 200px;
	left: 15%;

	padding: 5px;
	text-align: center;
}

/* for Firefox & IE7 */
* html .c-allthumbImage {
	/* for IE6 */
	width: expression(this.width > 100 && this.width > this.height ? 100 : auto);
	height: expression(this.height > 120 ? 120 : auto);
}