<style type="text/css">
    .lighter-weight {
        font-weight: lighter;
    }

    .w100 {
        width: 100px;
    }

    .ml {
        margin-left: 16px;
    }

    .pt20 {
        padding-top: 20px;
    }

    .mess-zx {
        line-height: 36px;
        color: #847D7D;
    }

    .btn-hover {
        margin-left: 16px;
        color: #796A6A
    }

    .pt0 {
        padding-top: 0 !important;
    }

    .form-validation .form-control.ng-dirty.ng-invalid {
        border-color: #f44336;
    }

    .err {
        color: #f44336;
    }

    .form-validation .form-control.ng-dirty.ng-valid,
    .form-validation .form-control.ng-dirty.ng-valid:focus {
        border-color: #4caf50;
    }

    .left-info-err {
        position: absolute;
        top: 22px;
        left: 70px;
    }

    .left-info-input {
        margin: 0 8px;
        width: 120px;
        display: inline;
    }

    .left-info {
        position: absolute;
        top: 0px;
        right: 50px;
    }

    .mask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        outline: 0;
        background: #000;
        opacity: 0.5;
    }

    .dialog {
        position: absolute;
        z-index: 1100;
        top: 115px;
        left: 22%;
        background-color: #fff;
        padding: 0;
    }

    .dialog-titlebar {
        padding: 0 10px 0 20px;
        height: 44px;
        background: #f5f5f5;
    }

    .dialog-title {
        float: left;
        font: 14px/44px "Microsoft YaHei";
        color: #f08300;
    }

    .close-btn {
        float: right;
        margin-top: 14px;
    }

    .clean-btn {
        margin: 0px 0px 0px 10px;
    }

    .border-slt {
        margin-bottom: 32px;
    }

    .pr {
        position: relative;
    }

    .y-pad0 {
        padding: 0 !important;
        position: relative;
    }

    .item .fa {
        position: absolute;
        top: 0;
        right: 0;
        background-color: green;
        color: #fff;
        font-size: 18px;
    }

    .hide {
        display: none;
    }

    .tab-pane {
        border: 1px solid #ddd;
        border-top: none;
    }

    .editbtn {
        display: none;
        position: absolute;
        left: 70%;
        cursor: pointer;
    }

    tr:hover .editbtn {
        display: inline-block;
    }

    .table td {
        position: relative;
    }

    .xxtext, .add {
        display: inline-block;
        width: 22%;
        margin: 0;
        margin-right: 10px;
        margin-bottom: 10px;
        float: left;
    }
    .desc{
    	height:75px;
    	line-height:75px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div platform-bread-nav="breadNavs"/>
    </div>
</div>
<div class="modal-body">
    <form class="form-horizontal form-validation" name="formInfo" novalidate>
        <tabset>
            <tab heading="基本信息" status="infoBase" active>
                <div class="pr" left-information style="margin-bottom:18px;">
                    <div class="form-group pt20" beyond max-count='64'>
                        <label class="col-sm-2 control-label lighter-weight padleft70">
                            <span class="err mleft-10">*</span>
                            分类名称
                        </label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" ng-model="bean.name" autocomplete="off" ng-blur="setNetAddress()"
                                   name="name" data-nsw-max-length="64" required>

                            <div ng-show="formInfo.name.$dirty && formInfo.name.$invalid">
                                <span class="err" ng-show="formInfo.name.$error.required">请填写分类名称</span>
                                <span class="err" ng-show="!formInfo.name.$error.required && formInfo.name.$error">分类名称长度为0~64字符</span>
                            </div>
                        </div>
                        <span class="tip-row-height"><span class="mess-zx">0</span>/64字符</span>
                    </div>
                </div>               
                <span class="dropdown" style="position:relative;top:-88px;left:93%;">
                        <a class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-question"></i>
                            帮助
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ng-click="hasLink()">外部链接</a>
                                <a ng-click="noLink()">无外部链接</a>
                            </li>
                        </ul>
                </span>

                <div class="form-group marbottom32">
                    <label class="col-sm-2 control-label lighter-weight padleft70">
                        <span class="err mleft-10">*</span>
                        上级分类
                    </label>

                    <div class="col-sm-5">
                        <div class="form-control" style="border:none;width: 366px;padding:0;">
                            <nested-combo-box control-disabled="false" collection="collectionBean"
                                              change-event="itemTreeChanged()" ng-model="classify.activeItemBean">
                            </nested-combo-box>
                        </div>
                    </div>
                </div>
                <div class="form-group marbottom32" ng-if="isLinkFlag" beyond max-count='100'>
                    <label class="col-sm-2 control-label lighter-weight padleft70">
                        <span class="err mleft-10">*</span>
                        网址
                    </label>

                    <div class="col-sm-5">
                        <input type="url" name="linkUrl" class="form-control" autocomplete="off" ng-model="bean.linkUrl"
                               data-nsw-max-length="100" required>

                        <div ng-show="formInfo.linkUrl.$dirty && formInfo.linkUrl.$invalid"><span class="err"
                                                                                                  ng-show="formInfo.linkUrl.$error.required">请填写网址</span><span
                                class="err" ng-show="formInfo.linkUrl.$error.nswmaxlength">网址长度为0~100字符</span>
                            <span class="err" ng-show="formInfo.linkUrl.$error.url">以http://开头，如http://www.nsw88.com</span>
                        </div>
                    </div>
                    <span class="tip-row-height"><span class="mess-zx">0</span>/100字符</span>
                </div>
                <div class="form-group marbottom32" beyond max-count='100' ng-show="!isLinkFlag">
                    <label class="col-sm-2 control-label lighter-weight padleft70">关联标签</label>

                    <div class="col-sm-5">
                       <!--<pre class="form-control">{{bean.cmsTags|showCtgsName}}</pre>-->
                        <input type="text" name="contextual" class="form-control" autocomplete="off" ng-model="tig" data-nsw-max-length="100"  readonly data-max-word="5">
                        <div>
                            <div class="err" ng-show="formInfo.contextual.$error.nswmaxlength">关联标签为0~100字符</div>
                            <div class="err" ng-show="formInfo.contextual.$error.maxword">关联标签使用逗号、空格或分隔符，并且不能超过5个关键字</div>
                        </div>
                    </div>
                    <span class="tip-row-height"><span class="mess-zx">0</span>/100字符</span>
                    <button type="button" class="btn btn-default clean-btn no-radus-btn" tag-lib data-module-id="{{state.moduleId}}"
                            ng-model="bean.cmsTags"><span class="sel-cmstags"></span><span>选择标签</span></button>
                </div>
                <div class="form-group" ng-show="isLinkFlag">
                    <label class="col-sm-2 control-label lighter-weight padleft70">分类图标</label>
                    <div class="col-sm-2">
                        <a href="javascript:void(0)">
                            <div class="border-slt text-center" img-lib="image" ng-model="bean.imgMd" data-img-count="1">
                                <img id="wlicon1" class="hw128" nsw-src="{{bean.imgMd.url}}"
                                     ng-show="bean.imgMd.url != undefined">
                                <i class="fa fa-cloud-upload fa-3x martop20"
                                   ng-show="bean.imgMd.url == undefined"></i>
                                <h6 ng-show="bean.imgMd.url == undefined" class="marbottom20">点击上传</h6>
                            </div>
                        </a>
                    </div>
                </div>
                <div ng-show="!isLinkFlag">
                    <div class="form-group marbottom32">
                        <label class="col-sm-2 control-label lighter-weight padleft70">是否上传分类缩略图</label>

                        <div class="col-sm-8">
                            <label class="radio-inline">
                                <input type="radio" name="radioCheckedImg"
                                       ng-value="false"
                                       ng-change="clearImageSm()"
                                       ng-model="isThumbnail">否
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="radioCheckedImg"
                                       ng-value="true"
                                       ng-change="clearImageSm()"
                                       ng-model="isThumbnail">是
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-offset-2 row marbottom32" ng-show="isThumbnail">
                        <div class="col-sm-2" data-ng-show="showPcImage">
                            <a href="javascript:void(0)">
                                <div class="border-slt text-center" img-lib="url" ng-model="bean.imgSm.urlPc" data-img-count="1">
                                    <img id="thumbnail" class="hw128" nsw-src="{{images[0].url}}"
                                         ng-show="images[0].url">
                                    <i class="fa fa-cloud-upload fa-3x martop20" ng-show="!images[0].url"></i>
                                    <h6 class="marbottom20" ng-show="!images[0].url">点击上传（pc）</h6>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-2" data-ng-show="showPhoneImage">
                            <a href="javascript:void(0)">
                                <div class="border-slt text-center"  img-lib="url" ng-model="bean.imgSm.urlPhone" data-img-count="1">
                                    <img id="thumbnailphone" class="hw128" nsw-src="{{images[0].url}}" ng-show="images[0].url">
                                    <i class="fa fa-cloud-upload fa-3x martop20" ng-show="!images[0].url"></i>
                                    <h6 class="marbottom20" ng-show="!images[0].url">点击上传(手机)</h6>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-8 martop10" beyond max-count='64'>
                            <label class="col-sm-2 control-label lighter-weight">alt标签</label>

                            <div class="col-sm-5" >
                                <input type="text" name="imgAlt" class="form-control" autocomplete="off" ng-model="bean.imgSm.alt" data-nsw-max-length="64">
                                <div ng-show="formInfo.imgAlt.$dirty && formInfo.imgAlt.$invalid">
                                    <span class="err" ng-show="formInfo.imgAlt.$error">alt标签长度为0~64字符</span>
                                </div>
                            </div>
                            <span class="tip-row-height"><span class="mess-zx">0</span>/64字符</span>
                        </div>
                        <div class="col-sm-8 martop20">
                            <label class="col-sm-2 control-label lighter-weight">最大尺寸</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" disabled value="800*800">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group marbottom32" ng-show="!isLinkFlag">
                    <label class="col-sm-2 control-label lighter-weight padleft70">分类描述</label>

                    <div class="col-sm-9" style="z-index: 1;">
                        <div platform-kindeditor  k-maximum-words="600" data-ng-model="bean.desc"></div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:25px;margin-top:-10px;" ng-show="isLinkFlag">
                    <label class="col-sm-2 control-label lighter-weight padleft70">选项</label>

                    <div class="col-sm-8">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="bean.isRecommend">推荐</label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="bean.isDisplayTop">置顶</label>
                    </div>
                </div>
                <div class="form-group marbottom100" ng-show="!isLinkFlag">
                    <label class="col-sm-2 control-label lighter-weight padleft70">前台列表头部显示描述</label>

                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type="radio" name="radioCheckedisDisplayDesc" data-ng-value="true" ng-model="bean.isDisplayDesc"
                               checked>显示</label>
                        <label class="radio-inline">
                            <input type="radio" name="radioCheckedisDisplayDesc" data-ng-value="false" ng-model="bean.isDisplayDesc">不显示</label>
                    </div>
                </div>
                <div class="form-group marbottom32" ng-show="isLinkFlag">
                    <label class="col-sm-2 control-label lighter-weight padleft70">显示当前分类</label>

                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type="radio" name="radioCheckedDesc" data-ng-value="true" ng-model="bean.isDisplay" checked>显示</label>
                        <label class="radio-inline">
                            <input type="radio" name="radioCheckedDesc" data-ng-value="false"
                                   ng-model="bean.isDisplay">隐藏</label>
                    </div>
                </div>
                <div class="form-group marbottom32" ng-show="isLinkFlag">
                    <label class="col-sm-2 control-label lighter-weight padleft70">发布时间</label>

                    <div class="col-sm-5">
                        <pick-datetime class="form-control" ng-model="bean.publishTime"></pick-datetime>
                    </div>
                </div>
                <div style="clear:both;" class="marbottom100"></div>
            </tab>
            <tab heading="SEO搜索引擎设置" status="tplCheck" ng-show="infoSeo">
                <div class="form-group pt20 marbottom32" beyond max-count='20' ng-if="!isLinkFlag">
                    <label class="col-sm-2 control-label lighter-weight padleft70">
                        <span class="err mleft-10">*</span>
                        页面访问网址
                    </label>

                    <div class="col-sm-5">
                        <div class="input-group">
                            <input type="text" class="form-control" autocomplete="off"
                                   ng-model="bean.seo.staticPageName" ng-blur="verRepeat()"
                                   name="staticPageName" data-nsw-max-length="30" required>

                            <div class="input-group-addon">.html</div>
                        </div>

                        <div ng-show="formInfo.staticPageName.$dirty && formInfo.staticPageName.$invalid">
                            <span class="err" ng-show="formInfo.staticPageName.$error.required">请填写静态页名称</span>
                            <span class="err"
                                  ng-show="!formInfo.staticPageName.$error.required && formInfo.staticPageName.$error">静态页名称长度为0~30字符</span>
                        </div>
                    </div>
                    <span class="tip-row-height"><span class="mess-zx">0</span>/30字符</span>
                </div>

                <div class="form-group marbottom32" beyond max-count='64'>
                    <label class="col-sm-2 control-label lighter-weight pt0 padleft70">
                        网页标题
                        <br>(Title)</label>

                    <div class="col-sm-5">
                        <input type="text" class="form-control" autocomplete="off" ng-model="bean.seo.title" name="aSeoTitle"
                               data-nsw-max-length="64">
                        <div ng-show="formInfo.aSeoTitle.$dirty && formInfo.aSeoTitle.$invalid">
                            <span class="err" ng-show="formInfo.aSeoTitle.$error">网页标题长度为0~64字符</span>
                        </div>
                    </div>
                    <span class="tip-row-height"><span class="mess-zx">0</span>/64字符</span>
                </div>
                <div class="form-group marbottom32" beyond max-count='100'>
                    <label  class="col-sm-2 control-label lighter-weight padleft70">
                        网页关键词
                        <br>(Keywords)</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" autocomplete="off" ng-model="bean.seo.keyword" name="aSeoKeyword" data-max-word="5" data-nsw-max-length="100">
                        <div ng-show="formInfo.aSeoKeyword.$dirty && formInfo.aSeoKeyword.$invalid">
                            <div class="err" ng-show="formInfo.aSeoKeyword.$error">网页关键词长度为0~100字符</div>
                            <div class="err" ng-show="formInfo.aSeoKeyword.$error.maxword">关键字使用逗号、空格和分隔符，并不能超过5个关键字</div>
                        </div>
                    </div>
                    <span class="tip-row-height"><span class="mess-zx">0</span>/100字符</span>
                </div>
                <div class="form-group marbottom32" beyond max-count='150'>
                    <label class="col-sm-2 control-label lighter-weight pt0 padleft70">
                        网页描述
                        <br>(Description)</label>

                    <div class="col-sm-8" style="z-index: 1;">
                        <!--  <div ueditor ng-model="bean.seo.desc" config="configSeoDesc"></div> -->
                        <textarea class="form-control" rows="3" ng-model="bean.seo.desc" data-nsw-max-length="150" name="describe"></textarea>
                        <div ng-show="formInfo.describe.$dirty && formInfo.describe.$invalid">
                            <div class="err" ng-show="formInfo.describe.$error">网页描述长度为0~150字符</div>
                        </div>
                    </div>
                    <span class="desc"><span class="mess-zx">0</span>/150字符</span>
                </div>
                <div style="clear:both;" class="marbottom100"></div>
            </tab>
            <tab heading="相同属性" status="productSame" ng-show="productSame">
                <div class="form-group pt20 padleft70" style="padding-left:140px;">
                    <div class="col-sm-8">
                        <button type="button" ng-click="addtype()" class="btn btn-default btn-hover no-radus-btn btnh26">
                            <span class="addattr"></span>新建属性
                        </button>
                        <button class="btn btn-default no-radus-btn btnh26" type="button">
                            <span class="improtattr"></span>导入
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>属性名称</th>
                                <th>类型</th>
                                <th>选项(文本框为空)</th>
                                <th>排序</th>
                                <th class="text-right">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="list in bean.optionFields|isDelete" >
                                <td>{{list.title}}<a class="pull-right editbtn" ng-click="editProduct(list)"
                                                    title="快速编辑">
                                    <i class="fa fa-edit"></i>
                                </a></td>
                                <td><span data-ng-show="list.formType=='text'">文本框</span><span data-ng-show="list.formType=='radio'">单选框</span><span data-ng-show="list.formType=='checkbox'">多选框</span><span data-ng-show="list.formType=='select'">下拉框</span></td>
                                <td>{{ list.data | fileOption}}</td>
                                <td>
                                            <span>
                                              <span>
								    		    <i ng-hide="$first" class="fa fa-arrow-up"
                                                   ng-click="interchange(list,bean.optionFields[$index-1])"></i>&nbsp;
												 <i ng-hide="$last" class="fa fa-arrow-down"
                                                    ng-click="interchange(list,bean.optionFields[$index+1])"></i>
							    		    </span>
                                            </span>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm"
                                                ng-click="deletOtherType($index,list)">
                                            <i class="fa fa-trash-o"></i>
                                            删除
                                        </button>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="clear:both;" class="marbottom100"></div>
            </tab>
            <tab heading="其他属性" status="infoOther" ng-show="infoOther">
                <div class="form-group adv-group" data-ng-repeat="ad in bean.data.ads" style="padding-top:20px;">
                    <label class="col-sm-2 control-label lighter-weight padleft70" ng-bind="ad.blkName"></label>
                    <div class="col-sm-10" tool-ad-item data-ng-model="ad" data-channel-id="bean.data.ctgId"  data-width="ad.blkWidth" data-height="ad.blkHeight"></div>
                </div>
                <div class="form-group pt20">
                    <label class="col-sm-2 control-label lighter-weight padleft70">分类图标</label>
                    <div class="col-sm-2">
                        <a href="javascript:void(0)">
                            <div class="border-slt text-center" img-lib="image" ng-model="bean.imgMd" data-img-count="1">
                                <img id="lmicon" class="hw128" nsw-src="{{bean.imgMd.url}}"
                                     ng-show="bean.imgMd.url != undefined">
                                <i class="fa fa-cloud-upload fa-3x martop20"
                                   ng-show="bean.imgMd.url == undefined"></i>
                                <h6 ng-show="bean.imgMd.url == undefined" class="marbottom20">点击上传</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-8 martop10" beyond max-count>
                        <label class="col-sm-2 control-label lighter-weight">alt标签</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="smImgAlt" autocomplete="off" ng-model="bean.imgMd.alt" data-nsw-max-length = "64">
                            <div ng-show="formInfo.smImgAlt.$dirty && formInfo.smImgAlt.$invalid">
                                <span class="err" ng-show="formInfo.smImgAlt.$error">分类名称alt标签长度为0~64字符</span>
                            </div>
                        </div>
                        <span class="tip-row-height"><span class="mess-zx">0</span>/64字符</span>
                    </div>
                    <div class="col-sm-8 martop20">
                        <label class="col-sm-2 control-label lighter-weight">最大尺寸</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" disabled value="800*800">
                        </div>
                    </div>
                </div>
                <div class="form-group marbottom32">
                    <label class="col-sm-2 control-label lighter-weight padleft70">选项</label>

                    <div class="col-sm-8">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="bean.isRecommend">推荐</label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="bean.isDisplayTop">置顶</label>
                    </div>
                </div>
                <div class="form-group marbottom32">
                    <label class="col-sm-2 control-label lighter-weight padleft70">显示当前分类</label>

                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type="radio" name="radioChecked" data-ng-value="true" ng-model="bean.isDisplay" checked>显示</label>
                        <label class="radio-inline">
                            <input type="radio" name="radioChecked" data-ng-value="false" ng-model="bean.isDisplay">隐藏</label>
                    </div>
                </div>
                <div class="form-group marbottom32">
                    <label class="col-sm-2 control-label lighter-weight padleft70">发布时间</label>

                    <div class="col-sm-5">
                        <pick-datetime class="form-control" ng-model="bean.publishTime"></pick-datetime>
                    </div>
                </div>
                <div style="clear:both;" class="marbottom100"></div>
            </tab>
            <tab heading="内页外观选择" status="faceCheck" ng-show="faceCheck">
                <div class="form-group pt20">
                    <label class="col-sm-2 control-label lighter-weight padleft70">列表模板</label>

                    <div class="col-sm-8">
                        <ul class="c-list-col c-list-col4 c-tpl-list">
                            <li ng-repeat="row in tempList" ng-click="selectListImageOne(row)">
                                <a href="javascript:void(0)">
                                    <div class="item y-pad0">
                                        <img class="img" nsw-src="{{row.imgSm ? row.imgSm : '../../img/nsw.png'}}" title="{{row.name}}">
                                        <i class="fa fa-check" ng-show="listTempOk[row._id]"></i>
                                    </div>
                                    {{row.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group pt20">
                    <label class="col-sm-2 control-label lighter-weight padleft70">详情模板</label>

                    <div class="col-sm-8">
                        <ul class="c-list-col c-list-col4 c-tpl-list">
                            <li ng-repeat="row in tempDetail" ng-click="selectDetailImageOne(row)">
                                <a href="javascript:void(0)">
                                    <div class="item y-pad0">
                                        <img class="img" nsw-src="{{row.imgSm ? row.imgSm : '../../img/nsw.png'}}" title="{{row.name}}">
                                        <i class="fa fa-check" ng-show="detailTempOk[row._id]"></i>
                                    </div>
                                    {{row.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="clear:both;" class="marbottom100"></div>
            </tab>
        </tabset>
        <div class="modal-footer ptl">
            <div class="col-sm-10 text-left">
                <button type="submit" class="btn btn-warning btn-color"
                        ng-disabled="!((formInfo.title.$valid&&isLinkFlag)||(formInfo.$valid&&formInfo.$dirty))"
                        ng-disabled="formInfo.$pristine||formInfo.$invalid" ng-click="saveBean()"><label
                        class="checkright"></label><span class="btntext">保&nbsp;存</span></button>
                <button class="btn btn-default btn-color btn-cancel" ng-click="clearFormBtn()"><label
                        class="checkcancel"></label><span class="btntext black">重&nbsp;填</span></button>
            </div>
        </div>
    </form>
</div>
