<form class="form-horizontal" name = "addothertype" novalidate>
	<div class="modal-header">
		<h4 class="modal-title">添加内容模块 <button aria-label="Close" ng-click="cancel()" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button></h4>
		
	</div>
	<div class="modal-body">
		<div class="form-group" tongbu  max-count='20'  >
			<label class="col-sm-2 control-label">字段名称</label>
			<div class="col-sm-8">
				<input type="text" name = "zdname" class="form-control " ng-model="adddata.name" ng-maxlength="20" required  > 
				 <div ng-show="addothertype.zdname.$dirty && addothertype.zdname.$invalid||titlelostflag">
                       <span class="err" ng-show="addothertype.zdname.$error.required||titlelostflag" >请填写字段长度</span>
                       <span class="err" ng-show="!addothertype.zdname.$error.required && addothertype.zdname.$error">字段长度为0~20字符</span>
                 </div>
			</div> 
			<span style="line-height:30px;"><span class="mess-zx">0</span>/20字符</span>
			
		</div>
		<div class="form-group zdlx">
            <label class="col-sm-2 control-label" >字段类型</label>
            <div class="col-sm-10">
                <label class="radio-inline">
					<input type="radio" ng-click="checkway('text')" value="text"  name="zdtype" checked="checked">文本框
				</label>
				<label class="radio-inline">
					<input type="radio" ng-click="checkway('radio')" value="radio" name="zdtype" >单选框
				</label>
				<label class="radio-inline">
					<input type="radio" ng-click="checkway('checkbox')" value="checkbox" name="zdtype" >多选框
				</label>
				<label class="radio-inline">
					<input type="radio" ng-click="checkway('select')" value="select" name="zdtype" >下拉框
				</label>
				<button class="btn fr txmore" type="button" ng-click = "moretoggle()">
				  <span class="glyphicon glyphicon-plus" ></span> 更多文本框设置 
				</button>
            </div>
        </div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">字段长度</label>
			<div class="col-sm-8">
			   <div class = "textbox">
			     <input type="text" class="form-control textx" name = "zdcd" ng-model="zdcd"  >
			   
			   </div> 
			   <div class="dtbox" style="display:none">
			        <input ng-repeat="input in inputlist" type="text" class="form-control xxtext" placeholder="属性{{input.num}}"  ng-model="input.sx"    >
			  	    <input type="button" class='btn btn-default navbar-btn add' value="添加" ng-click="addtext()">
			   </div>		
			     		
				
			</div>
			<span class = "tishi" style="line-height:30px;">例：[0,3]</span>
			
		</div>
		<div class="form-group  smwd "  tongbu  max-count='50'  style = "display:none">
            <label class="col-sm-2 control-label">录入框旁边说明文本</label>
            <div class="col-sm-8">
               <div class = "textbox">
                 <textarea class="form-control areat"  rows='6' ng-model="zdcdbg" name = 'smwb' ng-maxlength="50" required ></textarea>
                  <div ng-show="addothertype.smwb.$dirty && addothertype.smwb.$invalid||titlelostflag">
                       <span class="err" ng-show="addothertype.smwb.$error.required||titlelostflag" >请填写录入框旁边说明文本</span>
                       <span class="err" ng-show="!addothertype.smwb.$error.required && addothertype.smwb.$error">录入框旁边说明文本为0~50字符</span>
                 </div>
               </div> 
               
                
            </div>
            <span style="line-height:30px;"><span class="mess-zx">0</span>/50字符</span>
        </div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="adddatafun()" ng-disabled="addothertype.zdname.$invalid">确定</button>
		<button class="btn btn-default" type="button" ng-click="">取消</button>
	</div>
</form>