<style type="text/css">	
	.lighter-weight{font-weight: lighter;}	
	.mask{position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 100;overflow: hidden;-webkit-overflow-scrolling: touch;outline: 0;background: #000;opacity: 0.5;}
	.data-speed-form{position: fixed;z-index: 1050;top: 115px;left: 22%;background-color: #fff;padding: 0;}
	.dialog-titlebar { padding: 0 10px 0 20px;height: 44px;background: #f5f5f5;}
	.dialog-title {float: left;font: 14px/44px "Microsoft YaHei";color: #f08300;}
	.close-btn{float: right;margin-top: 14px;}
	.form-validation .form-control.ng-dirty.ng-invalid {border-color: #f44336;}
    .form-validation .form-control.ng-dirty.ng-valid,.form-validation .form-control.ng-dirty.ng-valid:focus {border-color: #4caf50;}
    .err{color: #f44336;}
    .pt0{padding-top: 0!important;}    
    .more-search{border: 1px solid #ddd;width: 949px; margin-top: 4px;}
    .lighter-weight{font-weight: lighter;}
    .fr{float: right;}
    .margin-lr{margin: 0 16px;}
    .editbtn {display:none;position:absolute;left:30%;cursor:pointer;}
    tr:hover .editbtn {display: inline-block;}
</style>
<div class="row">
  	<div class="col-xs-4">
	   	<ol class="breadcrumb">
		   <li><a href="../index.html">首页</a></li>
                <li><a href="index.html">产品管理</a></li>
                <li class="active">分类列表</li>
		</ol>
  	</div>
</div>
<div class="row">
    <div class="col-xs-5">
	    <div class="input-group">
	        <input type="text" value="" class="form-control" ng-model="queryParams.title" placeholder="请输入关键字查询"/>
	        <span class="input-group-btn">
	            <button type="button" class="btn btn-default" ng-click="searchInfoArticle()"><i class="fa fa-search"></i></button>
                <button type="button" class="btn btn-default" ng-click="advancedBtn()">高级</button>
	        </span>
	    </div>
    </div>
    <div class="col-xs-7 text-right">    	
    	<button type="button" class="btn btn-default" ng-click="deleteBatch()"><i class="fa fa-trash-o"></i> 批量删除</button>
    	<button type="button" class="btn btn-default" ng-click="quickAdd()"><i class="fa fa-pencil"> 快速录入</i></button>
    	<button type="button" class="btn btn-default" ng-click="check(dataList)"> 全选</button>
    	<button type="button" class="btn btn-default" ng-click="fanCheck(dataList)"> 反选</button>
    </div>
</div>

<div class="panel-body more-search" ng-show="advancedSearch">
    <form class="form-inline">
        <div class="form-group">
            <label class="lighter-weight">资讯分类名称</label>
            <input type="text" ng-model="advanced.title">
        </div>      
        <div class="form-group" style="margin-left: 58px;">
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="advanced.isRecommend"/>推荐</label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="advanced.isDisplayTop"/>置顶</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="radio-inline">
                <input type="radio" name="radioChecked" value="true" ng-model="advanced.isDisplay"/>显示</label>
            <label class="radio-inline">
                <input type="radio" name="radioChecked" value="false" ng-model="advanced.isDisplay"/>隐藏</label>
            <label class="radio-inline">
                <input type="radio" name="radioChecked" value="" ng-model="advanced.isDisplay"/>不限</label>
        </div>
        <button type="submit" class="btn btn-warning fr" ng-click="advancedSearchList()"><i class="fa fa-search"></i> 搜索</button>
    </form>
</div>

<div class="row c-row">
    <div class="col-xs-12">
    	<table class="table table-hover">
    		<thead>
		        <tr>
		        	<th><input type="checkbox" ng-model="isCheckAll" ng-click="checkAll()"/></th>
		            <th>产品分类</th>
		            <th>推荐</th>
                    <th>置顶</th>
		            <th>显示</th>
		            <th>排序</th>
		            <th>发布时间</th>
		            <th>操作</th>
		        </tr>
		    </thead>
		    <tbody>
		    	<tr ng-repeat="item in dataList" ng-show="showData(item)">
		        	<td><input type="checkbox" ng-model="item.isChecked" ng-click="checkItem(item)"/></td>
		    		<td style="position:relative;">{{item.name}} 
		    			<span class="glyphicon" ng-class="{'glyphicon-chevron-down': collapsed, 'glyphicon-chevron-right': !collapsed}"  
		    				ng-if="item.path.split(',').length == 3" ng-click="collapsed = !collapsed;toggleData(item,collapsed)">
		    			</span>
		    			<a class="editbtn" title="快速编辑"  ng-click="editInfo(item)"><i class="fa fa-edit"></i></a>
		    		</td>
		    		<td><i class="fa fa-circle-o" ng-class="{true: 'fa-circle text-success', false: 'fa-circle-o'}[item.isRecommend]" ng-click="recommend(item)"></i></td>
                    <td><i class="fa fa-circle-o" ng-class="{true: 'fa-circle text-success', false: 'fa-circle-o'}[item.isDisplayTop]" ng-click="displayTop(item)"></i></td>
		    		<td><i class="fa fa-circle-o" ng-class="{true: 'fa-circle text-success', false: 'fa-circle-o'}[item.isDisplay]" ng-click="display(item)"></i></td>
		    		<td>
		    		    <span ng-if="item.indexType == 2">
			    		    <i class="fa fa-arrow-up"   ng-click="arrowUp(item,'upward')"></i>&nbsp;
			    		    <i class="fa fa-arrow-down" ng-click="arrowDown(item,'down')"></i>
		    		    </span>
		    		    <span ng-if="item.indexType == 1">
			    		    <i class="fa fa-arrow-up"   ng-click="arrowUp(item,'upward')"></i>&nbsp;
			    		</span>
		    		    <span ng-if="item.indexType == -1">
		    		     	<i class="fa fa-arrow-down" ng-click="arrowDown(item,'down')"></i>
		    		    </span>
		    		    <span ng-if="item.indexType == 0"></span>
		    		</td>
		    		<td>{{item.createdTime}}</td>
		    		<td>
			    		<div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" ng-click="goEdit(item)"><i class="fa fa-pencil"></i> 修改</button>
			    			<button type="button" class="btn btn-default btn-sm" ng-click="preview(item._id,item.isLink,item.linkUrl,item.pageTpl)"><i class="fa fa-eye"></i> 预览</button>                           
			    			<button type="button" class="btn btn-default btn-sm" ng-click="delInfoCtg(item._id);"><i class="fa fa-trash-o"></i> 删除</button>
			    		</div>
		    		</td>
		    	</tr>
		    </tbody>      
		</table>    
	</div>
</div>
<!-- 快速编辑 -->
<div class="col-sm-6 data-speed-form" ng-show="editForm">
	<div class="dialog-titlebar">
		<span class="dialog-title">分类快速修改</span>	
		<a class="close-btn" ng-click="closeForm()"><i class="glyphicon glyphicon-remove"></i></a>		
	</div>
	<form class="form-horizontal form-validation" name="formSpeed" style="margin-top: 12px;" novalidate>
		<div class="form-group" beyond max-count='64'>
            <label  class="col-sm-2 control-label lighter-weight pt0">
                <span class="err">*</span> 分类名称
            </label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="editBean.name" name="name" ng-maxlength="64" required>
                <div ng-show="formSpeed.name.$dirty && formSpeed.name.$invalid">
                    <span class="err" ng-show="formSpeed.name.$error.required"></span>
                    <span class="err" ng-show="!formSpeed.name.$error.required && formSpeed.name.$error">分类名称长度为0~64字符</span>
                </div>
            </div>
            <span class="mess-zx">0</span>/64字符
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label lighter-weight">
                <span class="err">*</span>
                上级分类
            </label>
            <div class="col-sm-5">       
                <!--下拉树-->
                <div class="form-control" style="border:none;width: 294px;padding:0;">                       
                    <nested-combo-box  control-disabled="false" collection="collectionEdit" change-event="itemTreeChanged()" ng-model="editree.activeItem" >
                    </nested-combo-box>                                
                </div>                    
             </div>           
        </div>        
        <div class="form-group" ng-if="!editIsLink">
            <label  class="col-sm-2 control-label lighter-weight pt0">
                <span class="err">*</span>网页标题
                <br>(Title)
            </label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="editBean.seo.title" name="seoTitle" ng-maxlength="64" required>
                <div ng-show="formSpeed.seoTitle.$dirty && formSpeed.seoTitle.$invalid">
                    <span class="err" ng-show="formSpeed.seoTitle.$error.required">请填写网页标题</span>
                    <span class="err" ng-show="!formSpeed.seoTitle.$error.required && formSpeed.seoTitle.$error">网页标题长度为0~64字符</span>
                </div>
            </div>
            <span class="mess-zx">0/64字符</span>
        </div>
        <div class="form-group" ng-if="!editIsLink">
            <label  class="col-sm-2 control-label lighter-weight pt0">
                <span class="err">*</span> 网页关键词
                <br>(Keywords)
            </label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="editBean.seo.keyword" name="seoKeyword" ng-maxlength="100" required>
                <div ng-show="formSpeed.seoKeyword.$dirty && formSpeed.seoKeyword.$invalid">
                    <span class="err" ng-show="formSpeed.seoKeyword.$error.required">请填写网页关键词</span>
                    <span class="err" ng-show="!formSpeed.seoKeyword.$error.required && formSpeed.seoKeyword.$error">网页关键词长度为0~100字符</span>
                </div>
            </div>
            <span class="mess-zx">0/100字符</span>
        </div>
        <div class="form-group" ng-if="!editIsLink">
            <label  class="col-sm-2 control-label lighter-weight pt0">
                <span class="err">*</span>网页描述
                <br>(Description)
            </label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="3" ng-model="editBean.seo.desc" name="seoDesc" ng-maxlength="150" required></textarea>
                <div ng-show="formSpeed.seoDesc.$dirty && formSpeed.seoDesc.$invalid">
                    <span class="err" ng-show="formSpeed.seoDesc.$error.required">请填写网页描述</span>
                    <span class="err" ng-show="!formSpeed.seoDesc.$error.required && formSpeed.seoDesc.$error">网页描述长度为0~150字符</span>
                </div>
            </div>
        </div>
        <div class="form-group" ng-if="!editIsLink">
            <label  class="col-sm-2 control-label lighter-weight pt0"> 网页访问地址</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="editBean.seo.staticPageName" name="staticPageName" ng-blur="verRepeat()"  ng-maxlength="30">
                <div ng-show="formSpeed.staticPageName.$dirty && formSpeed.staticPageName.$invalid">                         
                    <span class="err" ng-show="formSpeed.staticPageName.$error">网页访问地址长度为0~30字符</span>
                </div>
            </div>
            <span class="mess-zx">0/30字符</span>
        </div>

         <div class="form-group" beyond max-count='100' ng-show="!editIsLink">
            <label  class="col-sm-2 control-label lighter-weight">                            
               标签
            </label>
            <div class="col-sm-5">                  
                <pre class="form-control" style="height:28px;">{{editBean.cmsTags|showCtgsName}}</pre>                                   
            </div>                      
            <button type="button" class="btn btn-default clean-btn" tag-lib result="editBean.cmsTags" ng-model="editBean.cmsTags">选择标签</button>                
        </div>    
        <div class="form-group text-center">
	        <div class="col-sm-10">
	            <button type="submit" class="btn btn-warning " ng-disabled="formSpeed.$invalid" ng-click="speedEdit()">保存</button>
	            <button class="btn btn-default" ng-click="closeForm()">取消</button>
	        </div>
		</div>
    </form>
</div>

<!-- 快速录入 -->
<div class="col-sm-6 data-speed-form" ng-show="addForm" style="height:450px;">
	<div class="dialog-titlebar">
		<span class="dialog-title">资讯快速录入</span>	
		<a class="close-btn" ng-click="closeForm()"><i class="glyphicon glyphicon-remove"></i></a>		
	</div>
	<form class="form-horizontal form-validation" name="formSpeedAdd" style="margin-top: 12px;" novalidate>
		<div class="form-group" beyond max-count='64'>
            <label  class="col-sm-2 control-label lighter-weight pt0">
                <span class="err">*</span> 分类名称
            </label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="beanEnter.name" name="name" ng-maxlength="64" required>
                <div ng-show="formSpeedAdd.name.$dirty && formSpeedAdd.name.$invalid">
                    <span class="err" ng-show="formSpeedAdd.name.$error.required">分类名称</span>
                    <span class="err" ng-show="!formSpeedAdd.name.$error.required && formSpeedAdd.name.$error">分类名称长度为0~64字符</span>
                </div>
            </div>
            <span class="mess-zx">0</span>/64字符
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label lighter-weight pt0">
                <span class="err">*</span>所属分类
            </label>            
            <div class="form-control" style="border:none;width: 264px;margin-left:132px;padding:0px;">                
                 <nested-combo-box  control-disabled="false" collection="collectionEnter" ng-model="enter.activeItem">
                 </nested-combo-box> 
            </div> 
        </div>
        <div class="form-group text-center" style="margin-top:260px;">
	        <div class="col-sm-10">
	            <button type="submit" class="btn btn-warning " ng-disabled="formSpeedAdd.$invalid" ng-click="editComfirm()">保存</button>
	            <button class="btn btn-default" ng-click="closeForm()">取消</button>
	        </div>
		</div>
    </form>
</div>
<!--mask-->
<div class="mask" ng-show="mask"></div>