<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
	<title>建站平台</title>

	<link rel="stylesheet" href="../../plugin/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../plugin/bootstrap/css/bootstrap-exp.min.css"/>
	<link rel="stylesheet" href="../../plugin/bootstrap/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../../plugin/jquery/css/jquery-ui.css"/>
	<link rel="stylesheet" href="../../plugin/jquery/css/jquery-ui-timepicker-addon.css"/>

	<link rel="stylesheet" href="../../plugin/angular-ui-tree/angular-ui-tree.css"/>

	<link rel="stylesheet" href="../../plugin/angular-combobox/ng-nested-combobox.css"/>

	<!-- 文件上传组件 -->
	<link rel="stylesheet" href="../../plugin/ueditor/third-party/webuploader/webuploader.css"/>


	<link rel="stylesheet" href="../../css/init.css"/>
	<link rel="stylesheet" href="../../css/common.css"/>
	<link rel="stylesheet" href="../../css/menu.css"/>
	<link rel="stylesheet" href="../../js/components/content/css/platform.css"/>
	<link rel="stylesheet" href="../../js/tools/content/css/advertising-lib.css"/>
	<style>
		.c-channel-tfoot {
			background-color: #f6f6f6;
		}

		.c-channel-tfoot td {
			border-top: 1px solid #dcdcdc;
		}

		.form-validation .form-control.ng-dirty.ng-invalid {
			border-color: #f44336;
		}

		.form-validation .form-control.ng-dirty.ng-valid, .form-validation .form-control.ng-dirty.ng-valid:focus {
			border-color: #4caf50;
		}

		.err {
			color: #f44336;
		}

		.exps {
			padding: 0 !important;
			border: none !important;
			color: #f08300 !important;
		}

		.exps:hover {
			background: none !important;
		}
	</style>
</head>
<body ng-app="productApp">
<div ng-controller="desktopMainCtrl">
	<div class="container-fluid c-header">
		<div class="container">
			<div class="row">
				<a class="c-logo"></a>

				<div class="c-manager">
					<div>
						<a>网站首页</a>｜
						<a>帮助中心</a>
					</div>
					<div>
						<a class="c-user-name" href="../../js/personal/index.html#/personalInfo"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;<span
								data-ng-bind="user.name"></span>&nbsp;&nbsp;欢迎你！</a>｜
						<span role="button" data-ng-click="exit()">退出</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container c-container">
		<div class="row">
			<div class="c-main">
				<div class="c-main-box">
					<ui-view></ui-view>
				</div>
			</div>
			<div class="c-menu-container">
				<div data-platform-menu data-ng-model="menuOptions"></div>
			</div>
		</div>
	</div>
	<div class="container-fluid c-footer">
		<div class="container">
			<div class="row">
				<p>@ NSW-PCCMS后台管理系统</p>
			</div>
		</div>
	</div>
</div>
<!--[if lte IE 9]>
<script src="../../js/respond.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
<![endif]-->
<div ng-include src="'../../js/components/directives/form/platform-form-templates.html'"></div>

<!--Concated plugins  -->
<script type="text/javascript" src="../../target/plugin.all.js"></script>

<!--Concated components  -->
<script type="text/javascript" src="../../target/conponent.all.js"></script>

<!---产品 app controller -->

<script src="../js/product/product.js"></script>
<script src="../js/product/controller/editCtrl.js"></script>
<script src="../js/product/controller/listCtrl.js"></script>
<script src="../js/product/controller/classifyCtrl.js"></script>
<script src="../js/product/controller/addClassifyCtrl.js"></script>

<script type="text/javascript" src="../../js/tools/tool-app.js"></script>
<script type="text/javascript" src="../../js/tools/services/advertising-list-svc.js"></script>
<script type="text/javascript" src="../../js/tools/controllers/advertising-lib-ctrl.js"></script>
<script type="text/javascript" src="../../js/tools/directives/tool-ad-item-dir.js"></script>
</body>
</html>
