<style type="text/css">
	.lighter-weight {
		font-weight: lighter;
	}

	.data-speed-form {
		position: absolute;
		z-index: 100;
		top: 115px;
		left: 22%;
		background-color: #fff;
		padding: 0;
	}

	.dialog-titlebar {
		padding: 0 10px 0 20px;
		height: 44px;
		background: #f5f5f5;
	}

	.dialog-title {
		float: left;
		font: 14px/44px "Microsoft YaHei";
		color: #f08300;
	}

	.close-btn {
		float: right;
		margin-top: 14px;
	}

	.form-validation .form-control.ng-dirty.ng-invalid {
		border-color: #f44336;
	}

	.form-validation .form-control.ng-dirty.ng-valid, .form-validation .form-control.ng-dirty.ng-valid:focus {
		border-color: #4caf50;
	}

	.err {
		color: #f44336;
	}

	.pt0 {
		padding-top: 0 !important;
	}

	.more-search {
		border: 1px solid #ddd;
		width: 949px;
		margin-top: 4px;
	}

	.lighter-weight {
		font-weight: lighter;
	}

	.fr {
		float: right;
	}

	.margin-lr {
		margin: 0 16px;
	}

	.editbtn {
		display: none;
		cursor: pointer;
	}

	tr:hover .editbtn {
		display: inline-block;
	}

	.sub_tir {
		position: absolute;
		left: 50%;
		top: 1px;
		z-index: 11;
		margin-left: -8px;
		width: 14px;
		height: 8px;
		background: url(../../img/main_sprit1.png) no-repeat -583px -61px;
	}

	#ctgDiv {
		display: none;
	}

	.ctgDiv {
		max-height: 75px;
		width: 100px;
		overflow-x: hidden;
		background: #fff;
		z-index: 10;
		top: 8px;
		left: -13px;
	}

	tr:hover #ctgDiv {
	    display: block;
	}
	.titleTd{ display:inline-block; width:232px;}
</style>
<div class="row">
	<div class="col-md-12">
		<div platform-bread-nav="breadNavs"/>
	</div>
</div>
<form name="formList">
<div class="row" beyond max-count = "64">
	<div class="col-xs-5">
		<div class="input-group">
			<input type="text" data-nsw-enter="searchInfoArticle()" class="form-control" ng-model="queryParams.title" placeholder="请输入关键字查询" maxlength="64">
	        <span class="input-group-btn">
	            <button type="button" class="btn btn-default padbottom5" ng-click="searchInfoArticle()"><!-- <i class="fa fa-search"></i> --><span class="search"></span></button>
                <!-- <button type="button" class="btn btn-default" ng-click="advancedBtn()">高级</button> -->
	        </span>
		</div>
	</div>
	<div class="col-xs-1" style="padding: 0; height: 30px; line-height: 32px;;">
		<span class="mess-zx martop-5" >0</span>/64字符
	</div>
	<div class="col-xs-6 text-right">
		<button type="button" class="btn btn-default no-radus-btn btnh26" ng-click="deleteBatch()"><span class="trash"></span>批量删除
		</button>
		<button type="button" class="btn btn-default no-radus-btn btnh26" ng-click="classification()"><!-- <i class="fa fa-share-square-o"></i> -->
			转移分类
		</button>
		<a href="javascript:void(0);" class="btn btn-default borderorange no-radus-btn btnh26" ng-click="goAdd()"><span class="newadd"></span> 新建</a>
		<button type="button" class="btn btn-default no-radus-btn btnh26" ng-click="reloadInfoArticle()"><!-- <i class="fa fa-refresh"></i> --> 刷新
		</button>
		<button type="button" class="btn btn-default no-radus-btn btnh26" ng-click="check(dataList)"> 全选</button>
		<button type="button" class="btn btn-default no-radus-btn btnh26" ng-click="fanCheck(dataList)"> 反选</button>
		<button type="button" class="btn btn-default no-radus-btn btnh26" ng-click="advancedBtn()">高级</button>
	</div>
</div>
</form>
<div class="panel-body more-search" ng-show="advancedSearch">
	<form class="form-inline"  name="formAdvance" beyond max-count = "64">
		<div class="form-group">
			<label class="lighter-weight">标题名称</label>
			<input type="text" ng-model="advanced.title" class="enterinput form-control" maxlength="64"/>
			<span class="mess-zx martop-5" >0</span>/64字符
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<div class="form-group">
			<label class="lighter-weight">所属分类</label>

			<div class="form-control" style="border:none;width:200px; padding:0px;">
				<nested-combo-box control-disabled="false" change-event="itemChanged()" collection="collectionAdvanced"
				                  ng-model="activeItemAdvanced"></nested-combo-box>
			</div>
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<div class="form-group">
			<label class="checkbox-inline">
				<input type="checkbox" ng-model="advanced.isRecommend">推荐</label>
			<label class="checkbox-inline">
				<input type="checkbox" ng-model="advanced.isDisplayTop">置顶</label>&nbsp;&nbsp;&nbsp;&nbsp;
			<label class="radio-inline">
				<input type="radio" name="radioChecked" value="true" ng-model="advanced.isDisplay">显示</label>
			<label class="radio-inline">
				<input type="radio" name="radioChecked" value="false" ng-model="advanced.isDisplay">隐藏</label>
			<label class="radio-inline">
				<input type="radio" name="radioChecked" value="" ng-model="advanced.isDisplay">不限</label>
		</div>
		<button type="submit" class="btn btn-default fr no-radus-btn btnh26" ng-click="advancedSearchList()"><span class="advancesearch"></span> 搜索</button>
	</form>
</div>
<div class="row c-row">
	<div class="col-xs-12">
		<table class="table table-hover">
			<thead>
			<tr>
				<th><input type="checkbox" ng-model="isCheckAll" ng-click="checkAll()"/></th>
				<th>缩略图</th>
				<th>标题名称</th>
				<th >所属分类</th>
				<th>推荐</th>
				<th>置顶</th>
				<th>显示</th>
				<th>发布时间</th>
				<!-- <th>静态页</th> -->
				<th >操作</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in dataList">
				<td><input type="checkbox" ng-model="item.isChecked" ng-click="checkItem(item)"/></td>
				<td><img ng-if = "item.imgs[0].url" ng-src="{{item.imgs[0].url}}" width="30px" height="30px"/></td>
				<td style="position:relative;">
					<div class = "titleTd c-wrap">
						{{item.title}}
						<a class="editbtn" title="快速编辑" ng-click="editInfo(item)"><i class="fa fa-edit"></i></a>
					</div>
				</td>
				<td >
					{{item.ctgs[0].name}}
					<div id="ctgDiv" style="position:relative;">
						<i class="sub_tir" ng-if="item.ctgs.length>1"></i>

						<div ng-if="$index>=0 && item.ctgs.length>1 "
						     style="max-height:75px;width:100px;overflow-x:hidden;border:1px solid #dcdcdc;position:absolute;background:#fff;z-index:10;top:8px;left:-13px;">

							<div ng-if="$index>=0 && item.ctgs.length>1 " class="ctgDiv">

								<span ng-repeat="it in item.ctgs" ng-if="$index>0">
					    		   {{it.name}}<br/>
					    		</span>
							</div>
						</div>
				</td>
				<td><i class="fa fa-circle-o"
				       ng-class="{true: 'fa-circle text-success', false: 'fa-circle-o'}[item.isRecommend]"
				       ng-click="recommend(item)"></i></td>
				<td><i class="fa fa-circle-o"
				       ng-class="{true: 'fa-circle text-success', false: 'fa-circle-o'}[item.isDisplayTop]"
				       ng-click="displayTop(item)"></i></td>
				<td><i class="fa fa-circle-o"
				       ng-class="{true: 'fa-circle text-success', false: 'fa-circle-o'}[item.isDisplay]"
				       ng-click="display(item)"></i></td>
				<td>{{item.publishTime}}</td>
				<!-- <td>已生成</td> -->
				<td >
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-sm" ng-click="goEdit(item)">
							<span class="fa-edt"></span><span class="fa-edt-text">修改</span>
						</button>
						<button type="button" class="btn btn-default btn-sm" ng-click="preview(item._id,item.isLink,item.linkUrl,item.ctgs[0])">
						    <span class="fa-preview"></span><span class="fa-preview-text">预览</span>
						</button>
						<button type="button" class="btn btn-default btn-sm" ng-click="mobilePreview(item.linkUrl);">
						    <span class="fa-preview"></span><span class="fa-preview-text">手机预览</span>
						</button>
						<button type="button" class="btn btn-default btn-sm" ng-click="delInfoArticle(item._id)">
						    <span class="fa-delete"></span><span class="fa-delete-text">删除</span>
						</button>
					</div>
				</td>
			</tr>
			</tbody>
			<!--分页条-->
			<tfoot class="hide-if-no-paging">
			<tr class="c-channel-tfoot">
				<td colspan="10" class="text-center" style="width:100%;">
					<uib-pagination total-items="totalItems" ng-model="currentPage" items-Per-Page="pageSize"
					                max-size="maxSize" class="pagination-sm m-t-none m-b" boundary-links="true"
					                rotate="false" ng-change="pageChanged()" previous-text="上一页" next-text="下一页"
					                first-text="首页" last-text="末页"></uib-pagination>
				</td>
			</tr>
			</tfoot>
			<!--分页条end-->
		</table>
	</div>
</div>
<!-- 快速编辑 -->
<div class="col-sm-6 data-speed-form" ng-show="editForm">
	<div class="dialog-titlebar">
		<span class="dialog-title">资料快速修改</span>
		<a class="close-btn diaremove" ng-click="closeForm()"></a>
	</div>
	<form class="form-horizontal form-validation" name="formSpeed" style="margin-top: 12px;" novalidate>
		<div class="form-group" beyond max-count='64'>
			<label class="col-sm-2 control-label lighter-weight pt0">
				<span class="err">*</span>资讯标题名称
			</label>

			<div class="col-sm-6">
				<input type="text" class="form-control" ng-model="editBean.title" name="title" ng-maxlength="64"
				       required>

				<div ng-show="formSpeed.title.$dirty && formSpeed.title.$invalid">
					<span class="err" ng-show="formSpeed.title.$error.required">资讯标题名称</span>
					<span class="err"
					      ng-show="!formSpeed.title.$error.required && formSpeed.title.$error">资讯标题长度为0~64字符</span>
				</div>
			</div>
			<span class="mess-zx">0</span>/64字符
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label lighter-weight pt0">短标题名称</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" ng-model="editBean.shortTitle" name="shortTitle"
				       ng-maxlength="30">

				<div ng-show="formSpeed.shortTitle.$dirty && formSpeed.shortTitle.$invalid">
					<span class="err" ng-show="formSpeed.shortTitle.$error">短标题标题长度为0~30字符</span>
				</div>
			</div>
			<span class="mess-zx">0/30字符</span>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label lighter-weight pt0">所属分类</label>

			<div class="col-xs-4">
				<nested-combo-box control-disabled="false" collection="collectionEdit"
				                  ng-model="activeItemEdit"></nested-combo-box>
			</div>
		</div>
		<div class="form-group" ng-show="!editBean.isLink">
			<label class="col-sm-2 control-label lighter-weight pt0">
				<span class="err">*</span> 网页访问地址
			</label>

			<div class="col-sm-6">
				<input type="text" class="form-control" ng-model="editBean.seo.staticPageName" name="staticPageName"
				       ng-blur="verRepeat()" ng-maxlength="30" required>

				<div ng-show="formSpeed.staticPageName.$dirty && formSpeed.staticPageName.$invalid">
					<span class="err" ng-show="formSpeed.staticPageName.$error.required">请填写网页访问地址</span>
					<span class="err"
					      ng-show="!formSpeed.staticPageName.$error.required && formSpeed.staticPageName.$error">网页访问地址长度为0~30字符</span>
				</div>
			</div>
			<span class="mess-zx">0/30字符</span>
		</div>

		<div class="form-group" ng-show="!editBean.isLink">
			<label class="col-sm-2 control-label lighter-weight pt0">
				<span class="err">*</span> 网页标题
				<br>(Title)</label>

			<div class="col-sm-6">
				<input type="text" class="form-control" ng-model="editBean.seo.title" name="seoTitle" ng-maxlength="64"
				       required>

				<div ng-show="formSpeed.seoTitle.$dirty && formSpeed.seoTitle.$invalid">
					<span class="err" ng-show="formSpeed.seoTitle.$error.required">请填写网页标题</span>
					<span class="err" ng-show="!formSpeed.seoTitle.$error.required && formSpeed.seoTitle.$error">网页标题长度为0~64字符</span>
				</div>
			</div>
			<span class="mess-zx">0/64字符</span>
		</div>

		<div class="form-group" ng-show="!editBean.isLink">
			<label class="col-sm-2 control-label lighter-weight pt0">
				<span class="err">*</span>
				网页关键词
				<br>(Keywords)</label>

			<div class="col-sm-6">
				<input type="text" class="form-control" ng-model="editBean.seo.keyword" name="seoKeyword"
				       ng-maxlength="100" required>

				<div ng-show="formSpeed.seoKeyword.$dirty && formSpeed.seoKeyword.$invalid">
					<span class="err" ng-show="formSpeed.seoKeyword.$error.required">请填写网页关键词</span>
					<span class="err" ng-show="!formSpeed.seoKeyword.$error.required && formSpeed.seoKeyword.$error">网页关键词之间用顿号、空格、| 隔开，如abc、def、fdg</span>
				</div>
			</div>
			<span class="mess-zx">0/100字符</span>
		</div>

		<div class="form-group" ng-show="!editBean.isLink">
			<label class="col-sm-2 control-label lighter-weight pt0">
				<span class="err">*</span>
				网页描述
				<br>(Description)</label>

			<div class="col-sm-8">

				<textarea class="form-control" rows="3" ng-model="editBean.seo.desc" name="seoDesc" ng-maxlength="150"
				          required></textarea>

				<div ng-show="formSpeed.seoDesc.$dirty && formSpeed.seoDesc.$invalid">
					<span class="err" ng-show="formSpeed.seoDesc.$error.required">请填写网页描述</span>
					<span class="err" ng-show="!formSpeed.seoDesc.$error.required && formSpeed.seoDesc.$error">网页描述长度为0~150字符</span>
				</div>
			</div>
		</div>
		<div class="form-group text-center">
			<div class="col-sm-10">
				<button type="submit" class="btn btn-warning btn-color" ng-disabled="formSpeed.$invalid"
				        ng-click="editComfirm()"><label class="checkright"></label><span class="btntext">保&nbsp;存</span>
				</button>
				<button class="btn btn-default btn-color btn-cancel" ng-click="closeForm()"><label class="checkcancel"></label><span class="btntext black">取&nbsp;消</span></button>
			</div>
		</div>
	</form>
</div>
