<style>
.custom-select .list{top:-115px;}
</style>
<div class="modal-header">
	<h4 class="modal-title">产品转移分类</h4>
	<a class="diaremove" ng-click="$close()"></a>
</div>

<div class="modal-body">
    <form class="form-horizontal form-validation" name="formSpeed" novalidate>
		<div class="col-xs-12">
			<label style="line-height: 30px;">已经选择的产品清单如下，请确认：</label>
			<div style="max-height:200px;overflow:auto;overflow-x:hidden;border:1px solid #dcdcdc;">
				<table class="table table-hover">
					<tr ng-repeat="row in newDataList">
						<td style="width:5%"><input type="checkbox" ng-model="row.isChecked"/></td>
						<td>{{row.title}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-xs-12" style="margin-top:32px;">
			<div style="float:left;"><label style="line-height: 30px;">把产品转移至：</label></div>
			<div class="col-xs-9">
				<nested-combo-box control-disabled="false" collection="collectionTransfer"
				       ng-model="activeItemTransfer">
				</nested-combo-box>
			</div>
		</div>		
	</form>
</div>

<div class="modal-foot" style="clear:both;padding-top:30px;margin-left:30px;padding-bottom:30px;">
    <button type="submit" class="btn btn-warning btn-color" ng-disabled="(!(formSpeed.$valid&&formSpeed.$dirty)&&(!(editBean.isLink&&formSpeed.$dirty&&formSpeed.title.$valid)))" ng-click="transfer()"><label class="checkright"></label><span class="btntext">转&nbsp;移</span></button>
    <button class="btn btn-default btn-color btn-cancel" ng-click="cancel()"><label class="checkcancel"></label><span class="btntext black">取&nbsp;消</span></button>
</div>

