<style>
    .c-channel{border:1px solid #dcdcdc;height:300px;width:30%;margin-left:-0.5%;}
    .c-channel:hover{border:1px solid #EA7F00;}
    .c-channel:hover .c-channel-bg{background:url('../../img/color_block1.png') no-repeat -177px -56px;}
    .c-channel-bg{height:90px;width:90px;margin:30px auto;display:block;background:url('../../img/color_block1.png') no-repeat -177px 27px;}
    .c-channel:hover .c-channel-bgs{background:url('../../img/color_block1.png') no-repeat -50px -56px;}
    .c-channel-bgs{height:90px;width:90px;margin:30px auto;display:block;background:url('../../img/color_block1.png') no-repeat -50px 27px;}
    .c-channel:hover .c-channel-btn{background:#EA7F00;color:#fff;border:0;}
    .c-channel-text{display:block;margin-top:12%;margin-left:1%;}
    .c-channel-btn{padding:5% 28.4%;margin-top:15%;width:200px;height:40px;}
    .c-channel-advance{border-top:1px solid #dcdcdc;margin-top:4%;padding-top:2%;}
    .c-channel-advance span{padding:10px;width:14px;height:14px;background:url('../../img/main_sprit1.png') no-repeat -96px -18px;}
    .c-channel-sum{float:right;}
    .c-channel-sum a{color:#EA7F00;float:right;}
    .c-channel-adv{background:url('../../img/main_sprit1.png') no-repeat 3px -365px;padding:10px;}
    .c-channel-tfoot{background-color: #f6f6f6;}
    .c-channel-tfoot td{border-top: 1px solid #dcdcdc;}
    .c-channel-tip a{color:#EA7F00;float:right;}
    .btn{padding:6px 18px;}
</style>
<div class="row">
	<div class="col-md-12">
		<div platform-bread-nav="breadNavs"/>
	</div>
</div>
<div>
	<div class="panel panel-default" ng-show="start">
	    <div class="panel-heading"><label>网站页面发布汇总</label></div>
	    <div class="panel-body">
			<div class="row" style="margin:2% 8%;">
			    <div class="col-md-3 col-xs-push-2 c-channel">
			        <span class="c-channel-bg"></span>
			        <span class="c-channel-text" style="text-align:center;">发现{{channel}}个频道，及{{page}}个内页有变动</span>
			        <button class="btn btn-default c-channel-btn" type="button" ng-disabled="publishBtn" ng-click="channelPublished()">发布分类及内页</button>
			    </div>
       	        <div class="col-md-3 col-xs-push-3 c-channel">
       	            <span class="c-channel-bgs"></span>
			        <span class="c-channel-text" style="text-align:center;">发现{{indexPageNum}}个首页有变动</span>
			        <button class="btn btn-default c-channel-btn"  type="button"  ng-disabled="indexPagePublishBtn" ng-click="indexPublished()">发布首页</button>
       	        </div>
			</div> 
			<div class="c-channel-advance"><span></span>建议：网站发布是一个耗时的工作，建议把更新的部分发布到您的虚拟主机，这样提高效率，节省发布的时间。</div>           
	    </div>
	</div>
	<div class="panel panel-default" ng-show="startPublish">
	    <div class="panel-heading"><label>网站页面发布</label><span class="c-channel-sum">建议更新频道有{{totalItems}}个<a href="javascript:void(0)" ng-click="retSummary()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;返回汇总</a></span></div>
	    <div class="panel-body">
			<div>您要发布的频道如下：</div>
			<div class="row c-row">
		    <div class="col-xs-12">
		   	    <table class="table table-hover">
			   		<thead>
				        <tr>
				        	<th><input type="checkbox" ng-model="isCheckAll" ng-click="checkAll()"/></th>
				            <th>频道名称</th>
				            <th>状态</th>
				            <th>文章数量</th>
				        </tr>
				    </thead>
				    <tbody ng-repeat="item in dataList">
				    	<tr>
				        	<td><input type="checkbox" ng-model="item.isChecked" ng-click="checkItem(item)"/></td>
				    		<td>{{item.name}}</td>
				    		<td><span class="c-channel-adv"></span>建议更新</td>
				    		<td>{{item.articleNum}}</td>
				    	</tr>			    	
				    </tbody> 
			   </table>
		        <div class="progress" ng-show="progress"><span style="position:absolute;left:0%;width:100%;text-align:center;top:0px; ">&nbsp;&nbsp;&nbsp;&nbsp;{{w}}</span>
					<div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="style">
						
					</div>			
		        </div>
		        <div class="text-center">
		           <button type="button" class="btn btn-warning btn-color"  style="padding-top:0px;padding-bottom:0px;" ng-show="pulishBtn" ng-click="published();"><label class="publish"></label><span class="publishtext">发布</span></button>
		          <!--  <button type="button" class="btn btn-warning" ng-show="pauseBtn"  ng-click="publishPaused();"><i class="fa fa-pause"></i> 暂停</button> -->
		           <button type="button" class="btn btn-default btn-color btn-cancel" ng-show="timesBtn"  ng-click="publishCancled(false);"><label class="checkcancel"></label><span class="btntext black">取&nbsp;消</span></button>
		        </div>
		        <div  class="c-channel-tip" ng-show="publishTip">本次成功更新{{sucPage}}个页面，失败{{failDetails}}个页面，还有{{unPublishedPage}}个页面，总计{{totPage}}个页面。<!-- <a href="##">查看更新日志</a> --></div>
			   <!--
			     <div  class="c-channel-tip">
			     <ul ng-repeat="name in fileName">
			      <li>{{name}}</li>
			     </ul>
			     <a href="##">查看更新日志</a> </div>-->
			    </div>
		    </div>        
	    </div>
	</div>
	
	<div class="panel panel-default" ng-show="home">
	    <div class="panel-heading"><label>网站首页发布</label><span class="c-channel-sum">建议更新页面有1个<a href="javascript:void(0)" ng-click="homeRetSummary()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;返回汇总</a></span></div>
	    <div class="panel-body">
			<div>您要发布的首页如下：</div>
			<div class="row c-row">
		    <div class="col-xs-12">
		   	    <table class="table table-hover">
			   		<thead>
				        <tr>
				        	<th><input type="checkbox" ng-model="isCheckAll" ng-click="checkAll()"/></th>
				            <th>首页名称</th>
				            <th>状态</th>
				            <th>上次更新时间</th>
				        </tr>
				    </thead>
				    <tbody ng-repeat="item in dataList"> 
				    	<tr>
				           <td><input type="checkbox" ng-model="item.isChecked" ng-click="checkItem(item)"/></td>
				    	   <td>{{item.name}}</td>
				    	   <td><span class="c-channel-adv"></span>建议更新</td>
				    	   <td>{{item.lastUpdateTime}}</td>
				    	</tr>			    	
				    </tbody> 
			   </table>
		          <div class="progress" ng-show="homeProgress"><span style="position:absolute;left:0%;width:100%;text-align:center;top:0px; ">&nbsp;&nbsp;&nbsp;&nbsp;{{wd}}</span>
				<div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="sty">
				</div>	
				</div>
		        <div class="text-center">
		            <button type="button" class="btn btn-warning btn-color"  style="padding-top:0px;padding-bottom:0px;" ng-show="homePulishBtn" ng-click="homePublished();"><label class="publish"></label><span class="publishtext">发布</span></button>
		          <!--  <button type="button" class="btn btn-warning" ng-show="homePauseBtn"  ng-click="homePublishPaused();"><i class="fa fa-pause"></i> 暂停</button> -->
		            <button type="button" class="btn btn-default btn-color btn-cancel" ng-show="homeTimesBtn"  ng-click="homePublishCancled(true);"><label class="checkcancel"></label><span class="btntext black">取&nbsp;消</span></button>
		        </div>
		        <div ng-show="homePublishTip" class="c-channel-tip">本次成功更新{{homeSucPage}}个页面，失败{{homeFailDetails}}个页面，还有{{homeUnPublishedPage}}个页面，总计{{homeTotPage}}个页面。<!-- <a href="##">查看更新日志</a> --></div>
		    </div>        
	    </div>
	</div>
</div>

<!-- <div ng-show="mask">
	<div class="mask"></div>
	<div class="col-sm-6 dialog" >
        <div class="modal-header">
            <h3 class="modal-title">发布成功</h3>
            <a class="diaremove" ng-click="$close()"></a>
        </div>
        <div class="modal-body" style="height:200px;margin-left:20px;overflow-y:scroll">
            <div>发布成功的页面网址如下：</div><br/>
            <div ng-repeat="item in datalist">
                <p>{{$index+1}}&nbsp;&nbsp;<a href="{{item}}" style="text-decoration:underline;">{{item}}</a></p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default btn-color btn-cancel" type="button" ng-click="cancelTpl()"><label class="checkcancel"></label><span class="btntext black">取&nbsp;消</span></button>
        </div> 
	</div>
</div> -->

<div ng-show="false">
	<div class="mask"></div>
	<div class="col-sm-6 dialog" >
        <div class="modal-header">
            <h3 class="modal-title">查看日志</h3>
            <a class="diaremove" ng-click="$close()"></a>
        </div>
        <div class="modal-body" style="height:200px;margin-left:20px;overflow-y:scroll">
            <div>发布失败的页面网址如下：</div><br/>
            <div>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default btn-color btn-cancel" type="button" ng-click="cancelTpl()"><label class="checkcancel"></label><span class="btntext black">取&nbsp;消</span></button>
        </div> 
	</div>
</div>