<style>
    .c-channel{border:1px solid #dcdcdc;height:270px;float:none;margin: 15px auto;}
    .c-channel:hover{border:1px solid #EA7F00;}
    .c-channel:hover .c-channel-bg{background:url('../../img/color_block1.png') no-repeat -177px -58px;}
    .c-channel-bg{height:90px;width:90px;margin:30px auto;display:block;background:url('../../img/color_block1.png') no-repeat -177px 27px;}
    .c-channel:hover .c-channel-bgs{background:url('../../img/color_block1.png') no-repeat -50px -56px;}
    .c-channel:hover .c-channel-btn{background:#EA7F00;color:#fff;border:0;}
    .c-channel-text{display:block;margin-top:12%;margin-left:1%;}
    .c-channel-btn{margin-top:15%;width:198px;height:32px;}
    .c-channel-advance{border-top:1px solid #dcdcdc;margin-top:4%;padding-top:2%;clear:both;}
    .c-channel-advance span{padding:10px;width:14px;height:14px;background:url('../../img/main_sprit1.png') no-repeat -96px -18px;}
    .c-channel-sum a{color:#EA7F00;float:right;}
    .c-channel-tfoot td{border-top: 1px solid #dcdcdc;}
    .c-channel-tip a{color:#EA7F00;float:right;}
    .btn{padding:6px 18px;}
    .progress-cen{text-align:center;margin-top:40px;position:relative;z-index:2}
    .progress-text{position:absolute;left:0%;width:100%;text-align:center;top:0px;}
	.progress-mask{position:fixed;top:0;left:0;width:100%;height:100%;background:#ccc;filter:alpha(opacity=1);opacity:0.01;z-index:1;}
</style>

	<div class="row">
		<div class="col-md-12">
			<div platform-bread-nav="breadNavs"/>
		</div>
	</div>

	<div class="panel panel-default">
	    <div class="panel-heading"><label>网站页面发布汇总</label></div>
	    <div class="panel-body">
		    <div class="col-md-3 c-channel">
		        <span class="c-channel-bg"></span>
		        <span class="c-channel-text" style="text-align:center;" ng-show="publishTime === undefined? false:publishTime">上次发布时间：<span ng-bind="publishTime"></span></span>
		        <button class="btn btn-default c-channel-btn" type="button" ng-disabled="publishBtn" ng-click="publishAll();">一键发布</button>
		    </div>
	        <div class="progress-cen" ng-show="progress" style="position:relative;">
	            <div class="progress" >
	                <span class="progress-text" ng-bind="wd">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				    <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="sty"></div>
	            </div>
	            <button type="button" class="btn btn-default btn-color btn-cancel"  ng-click="publishCancled();"><label class="checkcancel"></label><span class="btntext black">取&nbsp;消</span></button>
	        </div>
		    <div class="progress-mask" ng-show="pmask"></div>
		    <div class="c-channel-advance"><span></span>建议：网站发布是一个耗时的工作，建议把更新的部分发布到您的虚拟主机，这样提高效率，节省发布的时间。</div>
	    </div>
	</div>