<div class="modal-header">
	<h4 class="modal-title">发布成功</h4>
	<a class="diaremove" ng-click="cancelTpl()"></a>
</div>

<div class="modal-body" style="margin-left:20px;">
	<div>发布成功的页面网址如下：</div><br/>
	<div ng-repeat="item in datalist">
	    <p>{{$index+1}}&nbsp;&nbsp;<a href="{{item}}" style="text-decoration:underline;" target="_blank">{{item}}</a></p>
	</div>
</div>

<div class="modal-footer">
    <button data-ng-diable="datalist" class="btn btn-color publish-suctip-btn" type="button" ng-click="cancelTpl()"><label class="checkcancel btn-icon checkforward publish-suctip-label"></label><span class="btntext publish-suctip-btntext">确&nbsp;定</span></button>
</div>