<div class="modal-header">
    <h3 class="modal-title" style="margin:0px;">版块选择</h3>
    <a class="diaremove" ng-click="closeModal(false)"></a>
</div>
<div class="modal-body" style="height:450px;overflow-y:scroll">
        <ul style="margin:0 45px;">
            <li ng-repeat="item in blkDataList" style="float:left;list-style:none;margin:10px;">
                <span ng-click="blkSelected(item)"><img style="width:100px;height:100px;" class="c-tpl-item c-allthumbImage"  nsw-src="{{item.img.url == null||item.img.url == '' ?sysBasePath+'/pccms/img/nsw.png':item.img.url}}" ></span>
                <span style="position:relative;" ng-show="selected === item"><img style="width:50px;height:50px; position:absolute;left:28px;top:-72px;"  nsw-src="{{sysBasePath}}/pccms/img/tpl/selected.png"></span>
                <span style="display:block;text-align:center;" data-ng-bind="item.name"></span>
            </li>
        </ul>
</div>


