<div class="row">
    <div class="col-md-12">
        <div platform-bread-nav="breadNavs"/>
    </div>
</div>
<form name="formSeoList" class="nsw-form-search">
    <div class="row" beyond max-count = "64">
        <div class="col-xs-5">
            <div class="input-group">
                <input type="text" data-nsw-enter="searchInfoArticle()" class="form-control" ng-model="queryParams.title" placeholder="请输入关键字查询" maxlength="64">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default nsw-search-btn" ng-click=""><span class="search"></span></button>
                </span>
            </div>
        </div>
        <div class="col-xs-1">
            <span class="nsw-form-validate-tip">0</span>/64字符
        </div>
    </div>
</form>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>网页缩略图</th>
                <th>网页名称</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in aloneList">
                <td><img ng-if = "item.imgSm" ng-src="{{item.imgSm}}" width="30px" height="30px"/></td>
                <td>
                    <div class = "titleTd c-wrap">
                        <span data-ng-bind="item.name"></span>
                        <a class="editbtn" title="快速编辑"><i class="fa fa-edit" data-ng-click="seoSpeedEdit(item);"></i></a>
                    </div>
                </td>
                <td data-ng-bind="item.createdTime"></td>
                <td>
                    <button type="button" class="btn btn-default nsw-sm-btn" ng-click="alonePreview(item._id)">
                        <span class="fa-preview"></span><span class="fa-preview-text">预览</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>