<link rel="stylesheet" href="content/css/seo.css"/>
<div class="modal-header">
    <h4 class="modal-title">独立页面搜索引擎快速编辑</h4>
    <a class="diaremove" ng-click="$close()"></a>
</div>

<div class="modal-body">
    <form class="form-horizontal form-validation" name="seoFromSpeedEdit" novalidate>
        <div class="form-group">
            <label class="col-sm-2" style="padding-left:63px;font-weight:normal;">
                <span class="nsw-form-required"></span> 网页名称
            </label>
            <div data-ng-bind="alonePage.name" style="padding-left:158px;"></div>
        </div>
        <div>
            <div class="nsw-form-row" beyond max-count='64'>
                <label class="col-sm-2 nsw-form-label">
                    <span class="nsw-form-required">*</span>
                    网站默认标题(Title)&nbsp;&nbsp;&nbsp;&nbsp;
                </label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="alonePage.seo.title" autocomplete="off"
                           name="title" data-nsw-max-length="64" required>

                    <div ng-show="seoFromSpeedEdit.title.$dirty && seoFromSpeedEdit.title.$invalid">
                        <span class="nsw-form-error-message" ng-show="seoFromSpeedEdit.title.$error.required">请填写网站默认标题</span>
                        <span class="nsw-form-error-message" ng-show="seoFromSpeedEdit.title.$error.maxlength">网站默认标题长度为0~64字符</span>
                    </div>
                </div>
                <span class="nsw-form-validate-tip mess-zx">0</span>/64字符
            </div>
        </div>
        <div class="nsw-form">
            <div class="nsw-form-row" beyond max-count='100'>
                <label class="col-sm-2 nsw-form-label">
                    <span class="nsw-form-required">*</span>
                    网页关键词(keyword)
                </label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="alonePage.seo.keyword" autocomplete="off"
                           name="keyword" data-nsw-max-length="100" required>
                    <div ng-show="seoFromSpeedEdit.keyword.$dirty && seoFromSpeedEdit.keyword.$invalid">
                        <span class="nsw-form-error-message" ng-show="seoFromSpeedEdit.keyword.$error.required">请填写网页关键词</span>
                        <span class="nsw-form-error-message" ng-show="seoFromSpeedEdit.keyword.$error.maxlength">网页关键词长度为0~100字符</span>
                    </div>
                </div>
                <span class="nsw-form-validate-tip mess-zx">0</span>/100字符
            </div>
        </div>
        <div left-information>
            <div class="nsw-form-row" beyond max-count='32' style="height:69px;">
                <label class="col-sm-2 nsw-form-label">
                    <span class="nsw-form-required">*</span>
                    网页描述(Description)
                </label>
                <div class="col-sm-7">
                            <textarea class="form-control nsw-form-textarea" ng-model="alonePage.seo.desc"
                                      name="description" data-nsw-max-length="150" required />
                    <div ng-show="seoFromSpeedEdit.description.$dirty && seoFromSpeedEdit.description.$invalid">
                        <span class="nsw-form-error-message" ng-show="seoFromSpeedEdit.description.$error.required">请填写网页描述</span>
                        <span class="nsw-form-error-message" ng-show="seoFromSpeedEdit.description.$error.maxlength">网页描述长度为0~150字符</span>
                    </div>
                </div>
                <span class="nsw-form-textarea-validate-tip mess-zx">0</span>/150字符
            </div>
        </div>
    </form>
</div>

<div class="modal-foot nsw-form-modal-foot">
    <button type="submit" class="btn btn-warning btn-color" ng-disabled="!(seoFromSpeedEdit.$valid&&seoFromSpeedEdit.$dirty)" ng-click="editComfirm(alonePage)"><label class="checkright"></label><span class="btntext">保&nbsp;存</span></button>
</div>
