<form class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title">网站操作信息提示 <button aria-label="Close" ng-click="cancel()" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button></h4>
        
    </div>
    <div class="modal-body">
        <div class="row">
              <div class=" col-md-3">
                
                  <img src="/pccms/img/tishixinxi.png"  style = "margin: 20px 0 0 50px;" />
                
              </div>
               <div class=" col-md-9">
                 <p>{{(deletemoduledata.ctgNum||deletemoduledata.articleNum) ? ' 系统检查到您已经在此模块录入了'+deletemoduledata.ctgNum+'个栏目，'+deletemoduledata.articleNum+'篇文章删除当前模块，则此模块将被移至回收站，你可以从回收站找回当前模块。' : ' 系统检查到此模块为新添加模块，没有录入任何栏目和文章，删除当前模块后台不受影响，则此模块被移至回收站，你可以从回收站找回当前模块'}}</p> 
                
              </div>
              
                  
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="delModule()">确定</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
    </div>
</form>