<form class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title">网站操作信息提示 </h4>
        <a class="diaremove" ng-click="$close()"></a>
    </div>
    <div class="modal-body">
        <div class="row">
              <div class=" col-md-3">
                
                  <img src="/pccms/img/tishixinxi.png"  style = "margin: 20px 0 0 50px;" />
                
              </div>
               <div class=" col-md-9">
                
                 <p>确定要启用当前模块吗？</p>
                
              </div>
                  
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary pd620" type="button" ng-click="updModule()">确定</button>
        <button class="btn btn-default pd620" type="button" ng-click="cancel()">取消</button>
    </div>
</form>