<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <title>我要建站</title>
    
    <link rel="stylesheet" href="../../plugin/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../plugin/bootstrap/css/bootstrap-exp.min.css" />
    <link rel="stylesheet" href="../../plugin/bootstrap/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../plugin/jquery/css/jquery-ui.css" />
    <link rel="stylesheet" href="../../plugin/jquery/css/jquery-ui-timepicker-addon.css" />
    
    <link rel="stylesheet" href="../../plugin/angular-ui-tree/angular-ui-tree.css" />

     <link rel="stylesheet" href="../../plugin/angular-combobox/ng-nested-combobox.css" />

     <!-- 文件上传组件 -->
    <link rel="stylesheet" href="../../plugin/ueditor/third-party/webuploader/webuploader.css" />
    
    <link rel="stylesheet" href="../../css/init.css" />
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/menu.css"/>
    <style>
        .c-channel-tfoot{background-color: #f6f6f6;}
        .c-channel-tfoot td{border-top: 1px solid #dcdcdc;}
        .exps{ padding:0 !important; border:none !important; color:#f08300 !important;}
        .exps:hover{ background:none !important;}
    </style>   
</head>
<body ng-app="recycleApp">
<div ng-controller="desktopMainCtrl">
    <div class="container-fluid c-header">
        <div class="container">
            <div class="row">
                <a class="c-logo"></a>
                <div class="c-manager">
                    <div>
                        <a>网站首页</a>｜
                        <a>帮助中心</a>
                    </div>
                    <div>
                        <a class="c-user-name"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;<span data-ng-bind="user.name"></span>&nbsp;&nbsp;欢迎你！</a>｜
                        <a href="#" data-ng-click="exit()">退出</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container c-container" >
        <div class="row">
            <div class="c-main">
                <div class="c-main-box">
                	<ui-view></ui-view>
                </div>
            </div>

            <div class="c-menu-container">
                <div data-platform-menu data-ng-model="menuOptions"></div>
            </div>
    </div>
    </div>
    <div class="container-fluid c-footer">
        <div class="container">
            <div class="row">
                <p>@ NSW-PCCMS后台管理系统</p>
            </div>
        </div>
    </div>
</div>
    <!--[if lte IE 9]>
        <script src="../../js/respond.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
    <![endif]-->


    <script type="text/javascript" src="../../plugin/lodash/lodash.js"></script>
    <script type="text/javascript" src="../../plugin/jquery/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../../plugin/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="../../plugin/jquery/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="../../plugin/angular/angular.js"></script>
    <script type="text/javascript" src="../../plugin/angular/angular-locale_zh-cn.js"></script>
    <script type="text/javascript" src="../../plugin/angular/angular-sanitize.js"></script>
    <script type="text/javascript" src="../../plugin/angular/angular-ui-router.js"></script>
    <script type="text/javascript" src="../../plugin/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../plugin/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
    <script type="text/javascript" src="../../plugin/bootstrap/pagination.js"></script>
    
    <script type="text/javascript" src="../../plugin/angular-ui-tree/angular-ui-tree.js"></script>
    <script type="text/javascript" src="../../plugin/ngStorage/ngStorage.js"></script>
    <!-- 富文本编辑器 -->    
    <script type="text/javascript" src="../../plugin/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="../../plugin/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" src="../../plugin/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" src="../../plugin/ueditor/angular-ueditor.js"></script>

    <!-- 树型下拉列表 -->   
    <script type="text/javascript" src="../../plugin/angular-combobox/ng-nested-combobox.js"></script>

    <!--platform -->
    <script src="../../js/components/globals.js"></script>
    <script src="../../js/components/platform-app.js"></script>
    <script src="../../js/components/services/platform-messenger-svc.js"></script>
    <script src="../../js/components/services/platform-navigation-svc.js"></script>

    <!-- widgets -->
    <script type="text/javascript" src="../../js/components/directives/widgets/nsw-enter-dir.js"></script>

    <!-- navigation -->

    <script src="../../js/components/directives/menu/platform-menu-dir.js"></script>
    <script src="../../js/components/directives/menu/platform-meun-group-dir.js"></script>

    <!--面包削导航-->
    <script src="../../js/components/directives/widgets/platform-bread-nav-dir.js"></script>

    <!--validators-->
    <script type="text/javascript" src="../../js/components/directives/validators/max-word-validator-dir.js"></script>

    <!-- 弹窗服务 -->
    <script type="text/javascript" src="../../js/components/services/platform-modal-svc.js"></script>
    <script type="text/javascript" src="../../js/components/directives/widgets/platform-modal-dir.js"></script>
    <script type="text/javascript" src="../../js/components/controllers/platform-modal-tip-ctrl.js"></script>
    <script type="text/javascript" src="../../js/components/controllers/platform-modal-message-ctrl.js"></script>

    <!--desktop-->
    <script src="../../js/desktop/services/desktop-main-svc.js"></script>
    <script src="../../js/desktop/controllers/desktop-main-ctrl.js"></script>
    <script type="text/javascript" src="../../js/common-jquery.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="../../plugin/ueditor/third-party/webuploader/webuploader.js"></script>
    <script type="text/javascript" src="../../js/angular-webuploader.js"></script>
    <script type="text/javascript" src="../../js/constant.js"></script> 
    <script src="../js/recycle.js"></script>
</body>
</html>
