<style>
	.c-allthumbImage {max-width: 100px;max-height: 120px;} /* for Firefox & IE7 */
	* html .c-allthumbImage { /* for IE6 */
		 width: expression(this.width > 100 && this.width > this.height ? 100 : auto);
		 height: expression(this.height > 120 ? 120 : auto);
	} 
    .c-lgImage{ 
              max-width: 100%!important;
              height: auto!important;
              width:expression(this.width > 1000 ? "1000px" : this.width)!important;
        } 
    * html .c-lgImage{ 
			width:expression(this.width>1000&&this.width>this.height?650:auto); 
			height:expresion(this.height>650?650:auto);
       }
</style>
<div class="row">
	<div class="col-md-12">
	   	<ol class="breadcrumb">
		    <li><a href="../index.html">首页</a></li>
		    <li><a href="###">模板</a></li>
		    <li><a href="###">模板市场</a></li>
		    <li class="active">单页预览</li>
		</ol>
	</div>
</div>
<div class="row">  <!-- ng-controller="previewCtrl" -->
  	<div class="col-md-12" style="margin-bottom:2%;text-align:center;position:relative;">
  	    <ul class="selectImg" style="position:fixed;margin-left:65%;">
	        <li ng-click="clickDesSketch()"  ng-class="{true: 'actived', false: 'inactived'}[desket]">效果图</li>
	        <li ng-click="clickFrmChart()" ng-class="{true: 'actived', false: 'inactived'}[frmchat]">框架图</li>
	        <!-- <li ng-click="editSource(tplId)" ng-class="{true: 'actived', false: 'inactived'}[source]">编辑源码</li> -->
	        <li ng-click="tplDesign(tplId)" ng-class="{true: 'actived', false: 'inactived'}[tpldes]">模板设计</li>
	        <li ng-click="clickRet()">返回</li>
	    </ul>
	    <div ng-show="isShow"><img class="c-lgImage" src="{{dat.imgLg}}" style="border:1px solid green;"/></div>
	    <div ng-hide="isShow">
	        <img src="{{dat.imgFr}}" class="c-lgImage" style="border:1px solid green;float:left;margin-right:1%;"/>
	        <p>
	                                 策划思路:<br>
	           {{dat.designIdea}}
	        </p>
	        <p>设计特点：<br>
	           {{dat.style}}
	        </p>
	        <p>适合行业：<br>
	           {{dat.industry}}
	        </p>
	        <p style="display:none;">使用次数：500&nbsp;&nbsp;案例网页<button class="btn btn-info" ng-click="webOpened()">查看</button></p>
	    </div>
  	</div>
  	<div ng-show="mask">
		<div class="mask"></div>
		<div class="col-sm-6 dialog" >
	        <div class="modal-header">
	            <h3 class="modal-title">编辑源码</h3>
	        </div>
	        <div class="modal-body" style="height:350px;overflow-y:scroll">
	            <form class="form-horizontal form-airticle form-validation" name="formInfo"  novalidate>
	                <div class="form-group" beyond max-count='64'>
	                    <label  class="col-sm-2 control-label lighter-weight">
	                        <span class="err">*</span>模板名称
	                    </label>
	                    <div class="col-sm-5">
	                        <input type="text" class="form-control" ng-model="name" name="tplTitle" ng-maxlength="64" required>
	                        <div ng-show="formInfo.tplTitle.$dirty && formInfo.tplTitle.$invalid">
	                            <span class="err" ng-show="formInfo.tplTitle.$error.required">请填写模板名称</span>
	                            <span class="err" ng-show="!formInfo.tplTitle.$error.required && formInfo.tplTitle.$error">模板名称长度为0~64字符</span>
	                        </div>
	                    </div>
	                </div>
	                <div class="form-group" beyond max-count='20000' >
	                    <label  class="col-sm-2 control-label lighter-weight">
	                        <span class="err">*</span>编辑器
	                    </label>
	                    <div class="col-sm-8">
	                        <textarea type="text" ng-model="content" config="config" style="width:100%;height:200px;"></textarea>
	                    </div>
	                </div>
	                <div class="row">
                        <hr style="width:81%;margin-left:10%;">
                        <div class="border-slt text-center col-sm-3" style="cursor:pointer;float:left;" img-lib ng-model="res"> 
                            <h4 style="margin:5px 0px 5px 12px;font-weight:900;">缩略图：</h4> 
                            <img class="c-allthumbImage" ng-src="{{res[0].path }}" ng-show="res[0].path != undefined">  
                            <i class="fa fa-cloud-upload fa-3x" style="margin-top: 20px;" ng-show="res[0].path == undefined"></i>  
                            <h6 ng-show="res[0].path == undefined" style="margin-bottom: 20px;">点击上传</h6>
                        </div>
                        <div class="border-slt text-center col-sm-3" style="cursor:pointer;float:left;" img-lib ng-model="res1"> 
                            <h4 style="margin:5px 0px 5px 12px;font-weight:900;">预览图：</h4> 
                            <img class="c-allthumbImage" ng-src="{{res1[0].path}}" ng-show="res1[0].path != undefined">  
                            <i class="fa fa-cloud-upload fa-3x" style="margin-top: 20px;" ng-show="res1[0].path == undefined"></i>  
                            <h6 ng-show="res1[0].path == undefined" style="margin-bottom: 20px;">点击上传</h6>
                        </div>
                        <div class="border-slt text-center col-sm-3" style="cursor:pointer;float:left;" img-lib ng-model="res2">
                            <h4 style="margin:5px 0px 5px 12px;font-weight:900;">效果图：</h4> 
                            <img class="c-allthumbImage" ng-src="{{res2[0].path}}" ng-show="res2[0].path != undefined">  
                            <i class="fa fa-cloud-upload fa-3x" style="margin-top: 20px;" ng-show="res2[0].path == undefined"></i>  
                            <h6 ng-show="res2[0].path == undefined" style="margin-bottom: 20px;">点击上传</h6>
                        </div>
                        <div class="border-slt text-center col-sm-3" style="cursor:pointer;float:left;" img-lib ng-model="res3">
                            <h4 style="margin:5px 0px 5px 12px;font-weight:900;">框架图：</h4>  
                            <img class="c-allthumbImage" ng-src="{{res3[0].path}}" ng-show="res3[0].path != undefined">  
                            <i class="fa fa-cloud-upload fa-3x" style="margin-top: 20px;" ng-show="res3[0].path == undefined"></i>  
                            <h6 ng-show="res3[0].path == undefined" style="margin-bottom: 20px;">点击上传</h6>
                        </div>
                   </div>
              </form>  
	        </div>
	        <div class="modal-footer">
	            <button class="btn btn-primary" type="button" ng-click="saveTpl()" ng-disabled="formInfo.$invalid">保存</button>
	            <button class="btn btn-default" type="button" ng-click="cancelTpl()">取消</button>
	        </div> 
		</div>
    </div>
</div>