<style>
    .c-thumbImage {max-width: 76px;max-height: 96px;} /* for Firefox & IE7 */
	* html .c-thumbImage { /* for IE6 */
		  width: expression(this.width > 76 && this.width > this.height ? 76 : auto);
		  height: expression(this.height > 96 ? 96 : auto);
	}
	.c-mdImage{max-width: 400px;max-height: 300px;}/* for Firefox & IE7 */
	* html .c-mdImage{/* for IE6 */
		  width: expression(this.width > 400 && this.width > this.height ? 400 : auto);
		  height: expression(this.height > 300 ? 300 : auto);
	}
</style>
<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
  	<div ui-tree-handle data-nodrag class="tree-node tree-node-content">
    	<a class="pull-left btn btn-xs" ng-if="node.children && node.children.length > 0" data-nodrag ng-click="toggle(this)">
			<span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
		</a>
    	{{node.name}}
        <a class="btn btn-xs" data-nodrag title="点击查看{{node.name}}网站效果图" ng-click="singlePage(node.pubPageTplId)" ng-if="node.type == 'PAGETPL'">
			<span><img class="c-thumbImage" ng-src="{{node.imgSm}}"  ng-mouseover="mdShowed(node.name)" ng-mouseout="mdHided(node.name)"/>&nbsp;</span>
            <div style="position:relative;"><img class="c-mdImage" ng-src="{{node.imgMd}}" style="cursor:default;position:absolute;z-index:9999;left:200%;top:-96px;border:1px solid green;" ng-show="node.name == nodeName"/></div>
		</a>
  	</div>
  	<ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
    	<li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'" ></li>
  	</ol>
</script>
<div class="row">
	<div class="col-md-12">
	   	<ol class="breadcrumb">
		    <li><a href="../index.html">首页</a></li>
		    <li><a href="###">模板</a></li>
		    <li><a href="###">模板市场</a></li>
		    <li class="active">套装预览</li>
		</ol>
	</div>
</div>
<div class="row">
  	<div class="col-md-12" style="margin-bottom:2%;">
  	    
	    <div ui-tree id="tree-root">
	      	<ol ui-tree-nodes ng-model="data">
	        	<li ng-repeat="node in data.children" ui-tree-node ng-include="'nodes_renderer.html'"></li>
	      	</ol>
	    </div>
  	</div>
  	<div style="text-align:center;">
  	    <button type="button" class="btn btn-warning" ng-click="packUsedBack()">返回</button>
  	</div>
</div>