<style>
	.c-allthumbImage {max-width: 100px;max-height: 120px;} /* for Firefox & IE7 */
	* html .c-allthumbImage { /* for IE6 */
		width: expression(this.width > 100 && this.width > this.height ? 100 : auto);
		height: expression(this.height > 120 ? 120 : auto);
	} 
    .c-lgImage{ 
        max-width: 100%!important;
        height: auto!important;
        width:expression(this.width > 1000 ? "1000px" : this.width)!important;
    } 
    * html .c-lgImage{ 
		width:expression(this.width>1000&&this.width>this.height?650:auto); 
		height:expresion(this.height>650?650:auto);
    }
    .c-title{padding:0;text-align:left;}
    .c-content{font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";padding-left:18px;}
</style>
<div class="row">
	<div class="col-md-12">
		<div platform-bread-nav="breadNavs"/>
	</div>
</div>
<div class="row">
  	<div class="col-md-12" style="margin-bottom:2%;text-align:center;position:relative;">
  	    <ul class="selectImg" style="position:fixed;margin-left:65%;z-index:1;">
	        <li ng-click="clickDesSketch()"  ng-class="{true: 'actived', false: 'inactived'}[desket]">效果图</li>
	        <li ng-click="clickFrmChart()" ng-class="{true: 'actived', false: 'inactived'}[frmchat]">框架图</li>
	        <!-- <li ng-click="editSource(tplId)" ng-class="{true: 'actived', false: 'inactived'}[source]">编辑源码</li> -->
	        <li ng-click="tplDesign(tplId)" ng-class="{true: 'actived', false: 'inactived'}[tpldes]">版块设计</li>
	        <li ng-click="tplCopy(tplId)" ng-class="{true:'actived'}[tplcop]">模板复制</li>
	        <li ng-click="clickRet()">返回</li>
	    </ul>
	    <div ng-show="isShow"><img class="c-lgImage" src="{{dat.imgLg}}" style="border:1px solid green;"/></div>
	    <div ng-hide="isShow" class="row">
	       <div class="col-md-10"><img src="{{dat.imgFr}}" class="c-lgImage" style="border:1px solid green;"/></div>
	       <div class="col-md-2">
	           <h4 class="c-title"> 策划思路：</h4>
	           <p  class="c-content">{{dat.designIdea}}</p>
	           <h4 class="c-title">设计特点：</h4>
	           <p  class="c-content">{{dat.style}}</p>
	           <h4 class="c-title">适合行业：</h4>
	           <p  class="c-content">{{dat.industry}}</p>
	           <p  style="display:none;">使用次数：500&nbsp;&nbsp;案例网页<button class="btn btn-info" ng-click="webOpened()">查看</button></p>
	       </div>
	    </div>
  	</div>
</div>
