<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <title>建站平台</title>

    <link rel="stylesheet" href="../../plugin/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../plugin/bootstrap/css/bootstrap-exp.min.css"/>
    <link rel="stylesheet" href="../../plugin/bootstrap/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../plugin/jquery/css/jquery-ui.css"/>
    <link rel="stylesheet" href="../../plugin/jquery/css/jquery-ui-timepicker-addon.css"/>

    <link rel="stylesheet" href="../../plugin/angular-ui-tree/angular-ui-tree.css"/>

    <link rel="stylesheet" href="../../plugin/angular-combobox/ng-nested-combobox.css"/>

    <!-- 文件上传组件 -->
    <link rel="stylesheet" href="../../plugin/ueditor/third-party/webuploader/webuploader.css"/>
    <link rel="stylesheet" href="../../css/init.css"/>
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="../../css/menu.css"/>
    <link rel="stylesheet" type="text/css" href="content/css/online-service.css">
    <link rel="stylesheet" type="text/css" href="content/css/keywords.css">
    <link rel="stylesheet" type="text/css"  href="content/css/advertising-lib.css"/>
</head>
<body ng-app="toolApp">
<div ng-controller="desktopMainCtrl">
    <div class="container-fluid c-header">
        <div class="container">
            <div class="row">
                <a class="c-logo"></a>

                <div class="c-manager">
                    <div>
                        <a>网站首页</a>｜
                        <a>帮助中心</a>
                    </div>
                    <div>
                        <a class="c-user-name" href="../../js/personal/index.html#/personalInfo"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;<span
                                data-ng-bind="user.name"></span>&nbsp;&nbsp;欢迎你！</a>｜
                        <span role="button" data-ng-click="exit()">退出</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container c-container">
        <div class="row">
            <div class="c-main">
                <div class="c-main-box">
                    <ui-view></ui-view>
                </div>
            </div>
            <div class="c-menu-container">
                <div data-platform-menu data-ng-model="menuOptions"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid c-footer">
        <div class="container">
            <div class="row">
                <p>@ NSW-PCCMS后台管理系统</p>
            </div>
        </div>
    </div>
</div>

<!--<ng-include src=" 'templates/platform-form-templates.html' "></ng-include>-->
<!--<div ng-include src="'templates/platform-form-templates.html'"></div>-->
<div ng-include src="'../../js/components/directives/form/platform-form-templates.html'"></div>

<!--[if lte IE 9]>
<script src="../../respond.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
<![endif]-->

<!--Concated plugins  -->
<script type="text/javascript" src="../../target/plugin.all.js"></script>

<!--Concated components  -->
<script type="text/javascript" src="../../target/conponent.all.js"></script>

<script type="text/javascript" src="../../js/tools/tool-app.js"></script>
<script type="text/javascript" src="../../js/tools/services/online-platformDept-svc.js"></script>
<script type="text/javascript" src="../../js/tools/controllers/online-service-list-ctrl.js"></script>
<script type="text/javascript" src="../../js/tools/controllers/right-nav-ctrl.js"></script>
<script type="text/javascript" src="../../js/tools/directives/right-nav-dir.js"></script>
<script type="text/javascript" src="../../js/tools/directives/tool-platform-directive.js"></script>

<!--advertising content-->
<script type="text/javascript" src="services/advertising-list-svc.js"></script>
<script type="text/javascript" src="controllers/advertising-list-ctrl.js"></script>
<script type="text/javascript" src="controllers/advertising-edit-ctrl.js"></script>
<script type="text/javascript" src="controllers/advertising-lib-ctrl.js"></script>


<script src="services/online-service-svc.js"></script>
<script src="services/online-platformDept-svc.js"></script>
<script src="controllers/online-service-list-ctrl.js"></script>
<script src="directives/right-nav-dir.js"></script>
<script src="services/keywords-catalog-service-svc.js"></script>
<script src="services/keywords-service-svc.js"></script>
<script src="controllers/keywords-list-ctrl.js"></script>
<script src="controllers/keywords-edit-ctrl.js"></script>
<script src="services/friendlyLink-service-svc.js"></script>
<script src="controllers/friendlyLink-list-ctrl.js"></script>
<script src="controllers/friendlyLink-edit-ctrl.js"></script>


</body>
</html>
