
<div class="modal-header">
	<h4 class="modal-title">广告库提取</h4>
	<a class="diaremove" ng-click="$close()"></a>
</div>
<div class="adv-c-tags" ng-show="selectedAd">
	<span class="c-tags-selected">当前广告名称：</span>
	<ul>
		<li data-ng-bind="selectedAd"></li>
	</ul>
</div>
<div class="modal-body adv-tagbox">
	<tabset>
		<tab heading="列表" active>
			<div class="adv-tabbgbox">
				<ul class="list-inline col-sm-12 tul" ng-repeat="itembig in itmesbig">
					<li class="text-center c-tag-list taglist " ng-repeat="item in itembig"
					    ng-class="getCatalogClass(item)"
					    ng-click="selectCatalog(item)">
						<span class="tagname" data-ng-bind="item.name" title="{{item.name}}"></span>
						<i class="advlibimg" ng-show="advList.length && isCatalogSelected(item)"></i>
					</li>
					<div class="sub" ng-show="isCatalogSelected(item) && advList.length" ng-repeat="item in itembig">
						<ul ng-repeat="adv in advList">
							<li class="advList">
								<a class="advimg"><img nsw-src="{{adv.imgs[0].urlPc}}" class="adv-img-size"/></a>
								<span class="advname" data-ng-bind="adv.name" title="{{adv.name}}"></span>
				                <button type="submit" class="btn btn-warning add-adv-img" data-ng-click="selectAd(adv)">提取</button>
							</li>
						</ul>
						<div style="clear:both;text-align:right;margin-right:10px;">
							<uib-pagination total-items="totalItems" ng-model="options.currentPage" items-Per-Page="pageSize"
							                max-size="maxSize" class="pagination-sm m-t-none m-b" boundary-links="true"
							                rotate="false" ng-change="pageChanged(item)" previous-text="上一页" next-text="下一页"
							                first-text="首页" last-text="末页"></uib-pagination>
						</div>
					</div>
				</ul>
			</div>
			<div style="clear:both;"></div>
		</tab>
	</tabset>
</div>
