<link rel="stylesheet" type="text/css" href="content/css/online-service.css">
<div class="row">
	<div class="col-md-12">
		<div platform-bread-nav="breadNavs"/>
	</div>
</div>
<div class="row c-row onlineservice">
    <form class="form-inline col-xs-6 " name="formOnlineServiceName">
        <div  beyond max-count='32'>
            <div class="form-group">
                <p class="form-control-static">客服名称</p>
            </div>
            <div class="form-group ">
                <input type="text" name="name" class="form-control" placeholder="客服名称" autocomplete="off" data-ng-model="onlineServicename" data-nsw-max-length="32" required>
                <span class="mess-zx martop-5">0</span>/32字符
            </div>
            <button type="button" class="addbtn btn btn-hover " data-ng-disabled="formOnlineServiceName.$invalid" data-ng-click="addOnlineSrv()">
                <span class="addattr"></span>添加
            </button>
               <!-- <span data-ng-show="formOnlineServiceName.name.$error.maxlength" class="err" >客服名称0~32字符</span>-->
        </div>
    </form>
    <div class="col-xs-3 text-right">


		<button type="button" class="btn btn-default no-radus-btn btnh26" ng-click="checkAll()"> 全选</button>
		<button type="button" class="btn btn-default no-radus-btn btnh26" ng-click="inverse()"> 反选</button>
		<button type="button" class="btn btn-default no-radus-btn btnh26" ng-click="batchDelete()"><span
				class="trash"></span>批量删除
		</button>
	</div>
</div>

<div class="row c-row">
	<div class="col-xs-9">
		<table class="table table-hover">
			<thead>
			<tr>
				<th><input type="checkbox" ng-model="isCheckAll" ng-click="radioTop(isCheckAll)"/></th>
				<th>客服名称</th>
				<th>员工名称</th>
				<th>部门名称</th>
				<th>客服类型</th>
				<th>排序</th>
				<th>显示</th>
				<th>创建时间</th>
				<!-- <th>静态页</th> -->
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in tabDataList | orderBy:'orderBy'">
				<td><input type="checkbox" ng-model="item.isChecked" ng-click="checkItem(item)"/></td>
				<td style="position:relative; width: 170px;">
					<div class="titleTd c-wrap">
						{{item.name}}
						<a class="editbtn" title="快速编辑" ng-click="editOnlineSvcModal(item)"><i
								class="fa fa-edit"></i></a>
					</div>
				</td>
				<td>
					<div data-ng-bind="item.staffName"></div>
				</td>
				<td data-ng-bind="item.dept.name">

				</td>
				<td>
					{{ item.serverType.name }}
				</td>
				<td>
                    <span>
			    		    <i ng-hide="$first" class="fa fa-arrow-up"
					           ng-click="interchange(item,tabDataList[$index-1])"></i>&nbsp;
			    		    <i ng-hide="$last" class="fa fa-arrow-down"
					           ng-click="interchange(item,tabDataList[$index+1])"></i>
                    </span>
					<!-- <span ng-if="$last&&$index!=0">
							<i class="fa fa-arrow-up" ng-click="movUp(item)"></i>&nbsp;
						</span>
						<span ng-if="$index==0&&tabDataList.length>1">
							 <i class="fa fa-arrow-down"   ng-click="movDown(item)"></i>
						</span>
					<span ng-if="item.indexType == 0"></span>-->
				</td>
				<td><i class="fa fa-circle-o"
				       ng-class="{true: 'fa-circle text-success', false: 'fa-circle-o'}[item.isDisplay]"
				       ng-click="ifShow(item)"></i></td>
				<td>{{item.createdTime}}</td>
				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-sm" ng-click="deletSingleOnlineSvc(item)">
							<span class="fa-delete"></span><span class="fa-delete-text">删除</span>
						</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="col-xs-3">
		<div data-platform-catalog-list data-options="catalogListOptions"></div>
	</div>
</div>
