<div class="modal-body" >
	<div class="progress" >
		<div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"  ng-style="style">
			<span style="color:#000;">{{fileName}}&nbsp;&nbsp;&nbsp;<label style="color:#fff;">{{w}}%</label></span>
		</div>		
	</div>			
</div>
<div class="modal-footer">
    <button ng-show="cancel" class="btn btn-default btn-color btn-cancel" type="button" ng-click="cancel()"><label class="checkcancel"></label><span class="btntext black">取&nbsp;消</span></button>
</div>
