<link rel="stylesheet" type="text/css" href="content/css/intentional-order.css">
<div class="row">
    <div class="col-md-12">
        <div platform-bread-nav="breadNavs"/>
    </div>
</div>
<form name="formList">
    <div class="row" beyond max-count="64">
        <div class="col-xs-5 ">
            <button type="button" class="btn btn-default no-radus-btn btnh26" ng-click="checkAll()"> 全选</button>
            <button type="button" class="btn btn-default no-radus-btn btnh26" ng-click="inverse()"> 反选</button>
            <button type="button" class="btn btn-default no-radus-btn btnh26" ng-click="batchDelete()">
                <span class="glyphicon glyphicon-trash"></span> &nbsp;删除
            </button>
            <button type="button" class="btn btn-default no-radus-btn btnh26" ng-click="batchRead()">
                设置已阅
            </button>
        </div>
        <div class="col-xs-5 text-right" >
            <div class="input-group">
                <input type="text" value="" name="search" data-nsw-enter="searchContent()" class="form-control"
                       maxlength="64" ng-model="queryParams.content" placeholder="请输入关键字查询" autocomplete="off"/>
                 <span class="input-group-btn">
                    <button type="button" class="btn btn-default" style="background:#f5f5f5;padding-bottom:5px;"
                            ng-click="searchContent()"><span class="search"></span></button>
                </span>
            </div>

        </div>
        <div class="col-xs-1" style="line-height: 32px;;">
            <span class="mess-zx martop-5" >0</span>/64字符
        </div>
        <button type="button col-xs-1" class="btn btn-default no-radus-btn btnh26" ng-click="advancedBtn()">高级</button>
    </div>
</form>
<div class="more-search" ng-show="advancedSearch">
    <form class="form-inline" name="formAdvance" beyond max-count = "64">
        <div class="form-group col-sm-4">
            <label class="lighter-weight">留言内容</label>
            <input type="text" name="search" data-nsw-enter="searchInfoArticle()" class="form-control"
                   maxlength="64" ng-model="advanced.content" placeholder="" autocomplete="off"/>
            <span class="mess-zx martop-5" >0</span>/64字符
        </div>
        <div class="form-group col-sm-8 text-right" >
            <label class="radio-inline">
                <input type="radio" name="radioChecked" data-ng-value="true" ng-model="advanced.isDisplay"/>显示</label>
            <label class="radio-inline">
                <input type="radio" name="radioChecked" data-ng-value="false" ng-model="advanced.isDisplay"/>隐藏</label>
            <label class="radio-inline">
                <input type="radio" name="readradioChecked" data-ng-value="true" ng-model="advanced.isRead"/>已阅</label>
            <label class="radio-inline">
                <input type="radio" name="readradioChecked" data-ng-value="false" ng-model="advanced.isRead"/>未阅</label>
           <!-- <label class="radio-inline">
                <input type="radio" name="radioChecked" data-ng-value="true" ng-model="advanced.isDisplay"/>已回复</label>
            <label class="radio-inline">
                <input type="radio" name="radioChecked" data-ng-value="false" ng-model="advanced.isDisplay"/>未恢复</label>-->
            <label class="radio-inline">
                <input type="radio" name="radioChecked" value="" ng-model="advanced.all"/>不限</label>
            <button type="submit" class="btn btn-default fr no-radus-btn btnh26" ng-click="advancedSearchList()"><span
                    class="advancesearch"></span>搜索
            </button>
        </div>

    </form>
</div>
<div class="row c-row">
    <div class="col-xs-9">
        <table class="table table-hover">
            <thead>
            <tr>
                <th><input type="checkbox" ng-model="isCheckAll" ng-click="radioTop(isCheckAll)"/></th>
                <th>留言内容</th>
                <th>已阅</th>
                <th>显示</th>
                <th>留言时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in tabDataList| orderBy:'orderBy'">
                <td><input type="checkbox" ng-model="item.isChecked"/></td>
                <td style="position:relative; width:350px">
                    <div class="titleTd c-wrap">
                        {{item.content}}
                        <a class="editbtn" title="快速编辑" ng-click="editzOrderModal(item)"><i class="fa fa-edit"></i>回复</a>
                    </div>
                    <div class="reply c-wrap" data-ng-if="item.replyContent.length" >
                        <span>留言：</span><span ng-bind="item.replyContent"></span>
                    </div>
                </td>
                <td><i class="fa fa-circle-o"
                       ng-class="{true: 'fa-circle text-success', false: 'fa-circle-o'}[item.isRead]"
                       ng-click="isRead(item)"></i></td>
                <td><i class="fa fa-circle-o"
                       ng-class="{true: 'fa-circle text-success', false: 'fa-circle-o'}[item.isDisplay]"
                       ng-click="ifShow(item)"></i></td>
                <td>{{item.createdTime}}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm" ng-click="deletSingleOrderSvc(item)">
                            <span class="fa-delete"></span><span class="fa-delete-text">删除</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" ng-change="pageChanged()"  class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页"></uib-pagination>
    </div>

    <div class="col-xs-3">
        <div data-platform-catalog-list data-options="catalogListOptions"></div>
    </div>


    <!--<select ng-options=" item.label for item in items" ng-model="selected"></select>-->
</div>
