<div class="modal-header">
    <h4 class="modal-title">留言快速回复</h4>
    <a class="diaremove" ng-click="$close()"></a>
</div>
<div class="modal-body">
    <form class="form-horizontal form-validation" name="formReply" novalidate>
        <div class="form-group marbottom32" beyond max-count='32'>
            <label class="col-sm-2 control-label lighter-weight padleft35">
                <span class="err mleft-10">*</span> 回复内容:
            </label>
          <!--  <div class="col-sm-8 padleft26">
                <input type="text" class="form-control" ng-model="editBean.name" name="name" data-nsw-max-length="32" required>
                text
                <div ng-show="formReply.name.$dirty && formReply.name.$invalid">
                    <span class="err" ng-show="formReply.name.$error.required"></span>
                    <span class="err"
                          ng-show="!formReply.name.$error.required && formReply.name.$error">分类名称长度为0~32字符</span>
                </div>
            </div>-->
            <div class="col-sm-8 " style="z-index: 1;">
                <!-- <div ueditor ng-model="bean.seo.desc" config="configSeoDesc"></div>  -->
                <textarea class="form-control" rows="3" ng-model="editBean.replyContent" data-nsw-max-length="200" name="reply" required></textarea>
                <div ng-show="formReply.reply.$dirty &amp;&amp; formReply.reply.$invalid" class="ng-hide">
                    <div class="err ng-hide" ng-show="formReply.reply.$error.nswmaxlength">回复内容长度为0~200字符</div>
                </div>
            </div>
            <span class="mess-zx mtop6">0</span>/200字符
        </div>
    </form>
</div>
<div class="modal-footer text-align-left" style="margin-top:-15px;">
    <button type="submit" class="btn btn-warning btn-color"
            ng-disabled="formReply.$invalid" ng-click="ok()"><label
            class="checkright"></label><span class="btntext">保&nbsp;存</span></button>
    <button class="btn btn-default btn-color btn-cancel" ng-click="$close()"><label class="checkcancel"></label><span
            class="btntext black">取&nbsp;消</span></button>
</div>

