<style>
    .c-allthumbImage {max-width: 100px;max-height: 120px;} /* for Firefox & IE7 */
	* html .c-allthumbImage { /* for IE6 */
		 width: expression(this.width > 100 && this.width > this.height ? 100 : auto);
		 height: expression(this.height > 120 ? 120 : auto);
	}
	.sourceselect{ height:28px;}
</style>
<div class="c-mask"></div>
<div class="c-popup">
    <div class="modal-header">
        <h3 class="modal-title">板块编辑</h3>
    </div>
    <div class="modal-body" style="height:320px;overflow-y:scroll">
        <tabset>
            <tab heading="模板" active>
           
                <div class="row c-tpl-list">
                    <p class="col-sm-2" ng-repeat="(key,item) in pubBlkTpls">
                        <img class="c-tpl-item c-allthumbImage" ng-click="tplSelected(item)" ng-src="{{item.imgSm}}">
                       
                        <img class="c-tpl-selected-img {{key == projBlkTpl._id ? 'selected' : ''}}" ng-src="{{sysBasePath}}/img/tpl/selected.png">
                    </p>
                </div>
                <!-- <div ng-show="noData"><h3 style="color:red;">没有相应的数据!</h3></div> -->
            </tab>
            <tab heading="数据源">
                <div class="row c-tpl-ds"　>
                	<label class="col-xs-2 control-label" ng-show="isShowCtgSelecter">选择分类</label>
                	<label class="col-xs-2 control-label" ng-show="isShowModuleSelecter && !isShowCtgSelecter">选择频道</label>
                	<div class="col-xs-6">
						<select class="col-xs-6 sourceselect" ng-show="isShowModuleSelecter" ng-change="moduleChanged()" ng-model="projBlkTpl.moduleId" ng-options="item._id as item.name for item in extendModules"></select>
						<div class="col-xs-1" ></div>
		                <nested-combo-box class="col-xs-4" ng-show="isShowCtgSelecter" control-disabled="false" collection="moduleCtgs" change-event="itemChanged()" ng-model="projBlkTpl.ctgId"></nested-combo-box> 
               		</div>
                </div>
                <div class="row c-tpl-ds"  ng-repeat="dsData in projBlkTpl.tplDs">
                    <label class="col-xs-2 control-label">{{dsData.label}}</label>
                    <div class="col-xs-6">
                    	<select class="col-xs-6 sourceselect" ng-model="dsData.value" ng-options="item._id as item.name for item in tplDs"></select>
                    	<button  ng-show="isShowCtgBtn" class="btn btn-primary" ng-click="changeCtgSelecterFlag()"><span class="glyphicon glyphicon-ok"></span>选择分类</button>
                    </div>
                </div>

                <!-- <div class="row c-tpl-ds" ng-show="noSrcDataTip"><h3 style="color:red;">没有相应的数据源数据!</h3></div> -->

            </tab>
            <tab heading="选项">
                <div class="form-horizontal c-tpl-options">
                    <div class="form-group" ng-repeat="conf in projBlkTpl.confData">
                        <label class="col-xs-2 control-label">{{conf.label}}</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" ng-model="conf.value" />
                        </div>
                    </div>
				</div>
            </tab>
            <tab heading="源码">
                <div class="row" style="height:300px;">
	                <div class="col-xs-12" style="margin-bottom:20px;">
<!-- 	                    <textarea ng-model="projBlkTpl.htmlContent" style="width:100%;height:200px;border:1px solid #dcdcdc;margin-top:10px;resize: none;"></textarea>
 -->	                
 					<div data-ace-editor
		             data-ng-model="projBlkTpl.htmlContent"
		             data-editor-width="100%"
		             data-editor-height="200px"
		             data-mode="html"
		             data-theme="terminal"></div>
 				</div>
	                <hr>
	                <div class="border-slt text-center col-sm-2" style="cursor:pointer;" img-lib ng-model="img.sm">
	                    <h4 style="margin:5px 0px 5px 12px;font-weight:900;">缩略图：</h4>
                        <img id="imgSmall" class="c-allthumbImage"  ng-src="{{projBlkTpl.imgSm}}" ng-show="projBlkTpl.imgSm!= undefined">  
                        <i class="fa fa-cloud-upload fa-3x" style="margin-top: 20px;" ng-show="projBlkTpl.imgSm == undefined"></i>  
                        <h6 ng-show="projBlkTpl.imgSm == undefined" style="margin-bottom: 20px;">点击上传</h6>
	                </div>
	            </div>
            </tab>
        </tabset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save()"><span class="glyphicon glyphicon-ok"></span> 确定</button>
        <button class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> 取消</button>
    </div>
</div>
