<style>
    .c-allthumbImage {
        max-width: 77px;
        max-height: 120px;
        margin: 20px 0 10px 0;
        width:100%;
    }
    .form-group{
        line-height: 26px;
    }
    .form-group{
        margin-top: 22px;

    }
    .form-group label{ 
        width:100px;
        display: inline-block;
        line-height: 34px;
        height:34px;
        float: left;
    }
    /* for Firefox & IE7 */
    * html .c-allthumbImage {
        /* for IE6 */
        width: expression(this.width > 77 && this.width > this.height ? 77 : auto);
        height: expression(this.height > 120 ? 120 : auto);
    }

    .sourceselect {
        height: 29px;
    }
    .linetitle{
        margin-top: 35px;
        height: 20px;
        line-height: 20px;
        color: #EF8300;
        border-bottom: 1px solid #EF8300;
        font-weight: normal;
    }
    .form-sm-group{
        line-height: 34px;
    }
    .form-sm-group input[type='checkbox'],.form-sm-group input[type="radio"]{
        float: left;
        margin: 10px 10px 0 0;
    }
    .from-sm-group-row{
        overflow: hidden;
        width: 100%;
    }
    .custom{
        padding-left:25px;
    }
    .form-group .custom label{
        width: auto;
        padding-right: 5px;
        height: 26px;
        line-height: 26px;
    }
    .form-group .custom input{
        width: 52px;
        height: 24px;
        border: 1px solid #dedede;
        float: left;
    }
    .ml15{
        margin-left: 15px;
    }
    .responsive{
        overflow: hidden;
        padding-left:25px;
    }
    .responsive dt,.responsive dd{
        float: left;
    }
    .responsive dt{
        padding-right: 10px;
        width:56px;
    }
    .control-label {
	  text-align: left;
	}
</style>
<div class="c-mask"></div>
<div class="c-popup nsw">
    <div class="modal-header">
        <h3 class="modal-title" style="margin:0px;">版块编辑</h3>
        <a class="diaremove" ng-click="cancel()"></a>
    </div>
    <div class="modal-body" style="height:320px;overflow-y:scroll">
        <tabset>
            <tab heading="模板" active>
                <div class="row c-tpl-list">
                    <p class="col-sm-2" ng-repeat="(key,item) in pubBlkTpls">
                    	
                        <img class="c-tpl-item c-allthumbImage" ng-click="tplSelected(item)" ng-repeat = "attr in item.confData" ng-if="attr.name=='blkIcon'" nsw-src="{{attr.value == null||attr.value == '' ? sysBasePath+'/img/nsw.png':attr.value}}" >
                        
                        {{item.name}}
                        <img class="c-tpl-selected-img {{key == projBlkTpl._id ? 'selected' : ''}}"
                             nsw-src="{{sysBasePath}}/img/tpl/selected.png">
                             
                    </p>
                </div>
                <div class="row c-tpl-list" data-ng-show='projBlkTplList'>
                     <h5 align="left" class="linetitle ng-scope"><span>我的模板</span></h5>
                    <p class="col-sm-2" ng-repeat="(key,item) in projBlkTplList">
                      
                      <img class="c-tpl-item c-allthumbImage" ng-click="tplSelected(item)" ng-repeat = "attr in item.confData" ng-if="attr.name=='blkIcon'" nsw-src="{{attr.value == null||attr.value == '' ? sysBasePath+'/img/nsw.png':attr.value}}" >
                             {{item.name}}
                        <img class="c-tpl-selected-img {{key == projBlkTpl._id ? 'selected' : ''}}"
                             nsw-src="{{sysBasePath}}/img/tpl/selected.png">
                    </p>
                </div>
                <!-- <div ng-show="noData"><h3 style="color:red;">没有相应的数据!</h3></div> -->
            </tab>








            
            <tab heading="数据源" ng-show="'PROD_CONTENT'!==projBlkTpl.type && 'INFO_CONTENT'!==projBlkTpl.type && 'SITEMAP'!==projBlkTpl.type && 'CTG_LIST'!==projBlkTpl.type && 'CLIENT'!==projBlkTpl.type && 'SHARE'!==projBlkTpl.type && 'HEADER'!==projBlkTpl.type && 'FOOTER'!==projBlkTpl.type && 'PROD_SHOWCASE'!==projBlkTpl.type">
               <div class="row form-group c-tpl-ds"  >
                    <label class="control-label" ng-show="isShowModuleSelecter  && isShowCtgSelecter">选择频道</label>    
                    <label class="control-label" ng-show="isShowModuleSelecter && !isShowCtgSelecter">选择分类</label>
                   <select class="col-xs-3 sourceselect" ng-change="moduleChanged()"
                                ng-model="projBlkTpl.moduleId"
                                ng-options="item._id as item.name for item in extendModules" ng-show="isShowModuleSelecter"></select>
                                
                </div>
                <div class="row form-group c-tpl-ds"  ng-show="isShowCtgSelecter">             
                    <label class="control-label" >选择分类</label>
                    <nested-combo-box class="col-xs-3"  control-disabled="false"
                                          collection="moduleCtgs" change-event="itemChanged()"
                                          ng-model="projBlkTpl.ctgId"></nested-combo-box>  
               </div>   
                <div class="row form-group c-tpl-ds" ng-repeat="dsData in projBlkTpl.tplDs">
                    <label class="control-label">{{dsData.label}}</label>

                   
                        <select class="col-xs-3 sourceselect" ng-model="dsData.value"
                                ng-options="item._id as item.name for item in tplDs"></select>
                        <div class = "col-xs-1"></div>
                        <button ng-show="isShowCtgBtn" class="btn btn-primary" ng-click="changeCtgSelecterFlag()"><span
                                class="glyphicon glyphicon-ok"></span>选择分类
                        </button>
                   
                </div>

                <!-- <div class="row c-tpl-ds" ng-show="noSrcDataTip"><h3 style="color:red;">没有相应的数据源数据!</h3></div> -->

            </tab>
            <tab heading="选项">
                <div class="form-horizontal c-tpl-options">
                  	<div data-platform-dynamic-form template="blkTplConfData"/>
                </div>
            </tab>
            <tab heading="源码">
                <div class="row" style="height:300px;">
                    <div class="col-xs-12" style="margin-bottom:20px;">
                        <!-- 	                    <textarea ng-model="projBlkTpl.htmlContent" style="width:100%;height:200px;border:1px solid #dcdcdc;margin-top:10px;resize: none;"></textarea>
                         -->
                        <div data-ace-editor
                             data-ng-model="projBlkTpl.htmlContent"
                             data-editor-width="100%"
                             data-editor-height="200px"
                             data-mode="html"
                             data-theme="terminal"></div>
                    </div>

                </div>
            </tab>
        </tabset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-color" ng-click="save()"><label class="checkright"></label><span
                class="btntext">确&nbsp;定</span></button>
        <button class="btn btn-default btn-color btn-cancel" ng-click="cancel()"><label
                class="checkcancel"></label><span class="btntext black">取&nbsp;消</span></button>
    </div>
</div>
