
    <div class="modal-header">
        <h3 class="modal-title" style="margin:0px;">版块选择</h3>
        <a class="diaremove" ng-click="$close()"></a>
    </div>
    <div class="modal-body" style="height:320px;overflow-y:scroll">
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-color" ng-click="save()">
	        <label class="checkright"></label>
	        <span class="btntext">确&nbsp;定</span>
        </button>
        <button class="btn btn-default btn-color btn-cancel" ng-click="cancel()">
	        <label class="checkcancel"></label>
	        <span class="btntext black">取&nbsp;消</span>
        </button>
    </div>

