<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Demo</title>
    <link href="../content/css/style.css" rel="stylesheet">
</head>
<body>
<div data-ng-app="bookStoreApp">
    <div ui-view>

    </div>
</div>

<script type="text/javascript" src="../../lib/angular.js"></script>
<script type="text/javascript" src="../../lib/angular-ui-router.js"></script>
<script type="text/javascript" src="../app.js"></script>
<script type="text/javascript" src="../controllers/book-detail-controller.js"></script>
<script type="text/javascript" src="../controllers/book-list-controller.js"></script>
<script type="text/javascript" src="../controllers/book-main-controller.js"></script>
<script type="text/javascript" src="../serivces/book-data-service.js"></script>
</body>
</html>