<div class="c-popup nsw">
    <div class="modal-header">
        <h3 class="modal-title">版块编辑: 版块id：{{projBlkId}}、区块id：{{tplDate.tplId}}</h3>
    </div>
    <div class="modal-body">
        <tabset>
            <tab heading="" active>
                <div class="row c-tpl-list">
                    <div class="col-xs-2" ng-repeat="(key,item) in tplDate.tplList">
                        <img class="c-tpl-item" ng-click="tplSelected(key)" nsw-src="{{item.img}}">
                        <img class="c-tpl-selected-img {{key == tplDate.tplId ? 'selected' : ''}}" src="../../img/tpl/selected.png">
                    </div>
                </div>
            </tab>
            <tab heading="数据源">
                <div class="row c-tpl-ds" ng-repeat="dsData in tplDate.tplDs">
                    <label class="col-xs-2 control-label">{{dsData.label}}</label>
                    <div class="col-xs-6">
                    	<select ng-model="dsData.value" ng-options="item.value as item.label for item in dsData.dsList"></select>
                    </div>
                </div>
            </tab>
            <tab heading="选项">
                <div class="form-horizontal c-tpl-options">
                    <div class="form-group" ng-repeat="conf in tplDate.conf">
                        <label class="col-xs-2 control-label">{{conf.label}}</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" autocomplete="off" ng-model="conf.value" />
                        </div>
                    </div>
				</div>
            </tab>
        </tabset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-color" ng-click="save()"><label class="checkright"></label><span class="btntext">确&nbsp;定</span></button>
        <button class="btn btn-default btn-color" ng-click="cancel()"><label class="checkcancel"></label><span class="btntext black">取&nbsp;消</button>
    </div>
</div>
